
#inquiry_detail_length > label{
	float: right;
	margin-top: 4px;
	margin-right: 20px;
}

#inquiry_detail_info {
clear: both;
float: left;
}
.inquiry-retail .export-excel{
	margin-top: -13px;
}

.ui-autocomplete {
    max-height: 200px !important;
    overflow-y: auto !important;
    /* prevent horizontal scrollbar */
    overflow-x: hidden !important;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px !important;
    
    white-space:nowrap !important;
    text-overflow:ellipsis !important;

    width: 467px !important;
    /*left: 238px !important;*/
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 100px !important;
}

.ui-menu-item {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}

#searchResult {
    background-color: #f5f5f5;
    border-top: 1px solid #cfdadd;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    padding-bottom: 5px;
/*  padding-top: 5px; */
    border-radius: 0;
}

#tabResult {
    background-color: #f5f5f5;
    margin-right: -10px;
    margin-left: -10px;
    position: relative;
}

#tabResult.without-panel {
    background-color: transparent;
    height: 20px;
}
#tabResult li a {
    color: #58666e;
}
#tabResult li.active a { font-weight: bold;}

.common-content-tab { 
    padding: 20px 0;
}

#btnSearchPrd {
    background: url(../../image/btn-search.png) no-repeat;
    height: 30px;
    width: 107px;
    border: none;
}

.common-table-style tr.firs-tr {
    background-color: #d9edf7;
    border-top: 1px solid #bce8f1;
}
.common-table-style >thead>tr>th { 
    border-bottom: 1px solid #bce8f1 !important;
    text-align: center;
}

.common-table-style td,
.common-table-style th { 
    padding: 5px!important;
    vertical-align: middle !important;
}

.inputData input[type="text"] {
    width: 100%;
}

.inputData { background-color: #f0f3f7;}

.clearfix {
    clear: both;
}

/*table*/
.second-tr > th > input, .second-tr > th > select {
    width: 100% !important;
    height: 25px;
}
table.dataTable thead th:first-child.sorting_asc{
    background: none !important;
}
#passed-table, #all-table, #rejected-table , #failed-table{
    width: auto !important;
    border-right: 0px;
}
table.dataTable thead  th.comfirm-filter.disabled {
    background-image: none !important;
}


#inquiry_detail_info {
    clear: both;
    float: left;
}

#inquiry_detail_length > label {
    float: right;
    margin-top: 4px;
    margin-right: 20px;
}

.search-btn-wp{
        margin-bottom: 10px;
}

@media (max-width: 767px) {
    .input-date-end { 
        margin-top: 20px;
    }
    #btnSearchPrd { 
        margin-bottom: 20px;
    }
    
    /*table*/
    #inquiry_detail_length .form-control {
         display: inline;
    }
    #inquiry_detail_paginate {
        float: left;
        clear: both;
    }

    #inquiry_detail_length > label {
        float: left;
        margin-top: 4px;
        margin-right: 20px;
    }  

}

/*datatables*/
div.DTTT { 
    margin-bottom: 0.5em; 
    float: right;
}
div.dataTables_wrapper { clear: both; }

.accordion-toggle:before {
    font-family: FontAwesome;
    content: "\f103";
    color: #808080;
    font-family: FontAwesome;
    position: absolute;
    left: 5;
}

.accordion-toggle.collapsed:before {
/*  font-family: FontAwesome; */
    content: "\f101";
    color: #808080;
    font-family: FontAwesome;
    position: absolute;
    left: 5;
}

.legend { 
    border-top: 1px solid #D3CCCC;
}
.legend .accordion-toggle {
    display: inline-block;
    position: relative;
    top: -10px;
    left: 10px;
    background-color: #FFF;
    padding: 0 5px;
    cursor: pointer;
/*  font-weight: bold; */
}
.legend .accordion-toggle-bdm {
    display: inline-block;
    position: relative;
    top: -10px;
    left: 10px;
    background-color: #FFF;
    padding: 0 5px;
    cursor: pointer;
}

#searchResult.borderless {padding-top: 20px; border-top:none;}
#searchResult.borderless .legend .accordion-toggle {background-color: #F5F5F5;}

table {
    table-layout: fixed\10;
}

.text-ellipsis {
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;
}

.clear-filtter-style {
    color: red;
}

.visibility-class {
    visibility: hidden;
}

#fa-angle-double-down-style {
    width: 15px !important;
}
.style-panel-body {
    padding-top: 0px;
}

#dateBegin-icon-wp, #dateEnd-icon-wp {
    cursor: pointer;
}
#inquiry_detail_wrapper {
    position: relative;
}
.filter-btn-style {
    background: #fff url(../../image/clear-filter.png) no-repeat center;
    height: 29px;
    width: 29px;
}

.disable-class {
    opacity : .65;
    cursor: not-allowed;
}

.input-check-box {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -3px;
    *overflow: hidden;
}
#reset-retail-inquiry-btn, #search-retail-inquiry-btn {
    border-radius: 3px;
}
#filter .input-sm  {
    height: 25px;
}

.wp-table-2 {
    overflow: auto;
    margin-bottom: 10px;
}

.wp-table-3 {
    min-width: 800px !important;
}