body {
    margin: 0 auto;
}
.panelsOrder {
    padding : 0;
}
.panelsOrder > li {
    display: inline-block;
}
fieldset.scheduler-border {
    border: 1px solid #ddd;
    padding: 0 1.4em 0 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}
.lb {
    font-size: 12px;
}
.bin {
    border: 1px dashed;
    min-height: 300px;
}
.alignDiv {
    padding: 7px 7px 0 7px;
}
.emptyDiv {
    height: 70px;
    margin: 0 auto;
    width: 100px;
}

.quantity .input-group-addon {
/*     background: #FFFFFF !important; */
    border: none !important;
}
.totalAmount .input-group-addon {
/*     background: #FFFFFF !important; */
    border: none !important;
}

.information-icon{
    background: url(../image/icons/information_icon.png) 50% 50% no-repeat;
}
.information-icon2{
    background: url(../image/icons/information_icon1.png) 50% 50% no-repeat;
}
.information-icon3{
    /*background: url(../image/icons/info-icon.png) 50% 50% no-repeat;*/
    width: 32px;
    background: #FFFFFF;
    border: none;
}

.btn-group.bootstrap-select.show-tick {
    padding: 0px;
}
.span-gruop {
    border-bottom: 1px solid #CCCCCC;
    min-height: 10px !important;
    margin-bottom: 15px;
}
.fa.fa-sort-asc > label {
    font-family: Arial;
    font-size: 16px;
}

.form-group {
    margin-bottom: 10px !important;
}
#nameTable {
    min-width: 100%;
}

.legend {
    margin-bottom: 15px !important;
}
#tableResult {
    width: 100%;
    border: 1px solid #D8E7EF;
}
#tableResult tr th {
    vertical-align: top;
}
#tableResult thead{
    background-color: #5C7399;
}
#tableResult label {
    color: #FFFFFF;
}
#tableResult .dataTables_empty {
    text-align: center;
}
.dataTables_paginate.paging_full_numbers {
    float: right;
}
#tableResult_info {
    float: left;
}
.type-close {
    color: #CCCCCC;
}
.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
    border: 1px solid #AAAAAA;    
    margin: 0 1px;
    padding: 3px 6px;
    border-style: solid;
    border-width: 1px;
    box-shadow : none;
}
.paging_full_numbers a.paginate_button {
    background-color: #EEEEEE;
}
.paging_full_numbers .paginate_button_disabled{    
    color: #999999;
    cursor: not-allowed;
}
.paging_full_numbers .paginate_button_disabled:hover{    
    text-decoration: none;
}
.paging_full_numbers a.paginate_active {
    background-color: #99B3FF !important;
}
.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
    border-radius: 1px !important;
}
.align-date {
    text-align: center;
}
.styleStatus {
    text-align: left;
}
.align-number {
    text-align: right;
}
#tableResult thead {
    font-weight: bold;
    color: #FFFFFF;
}
#dataInputForm input {
    border-radius: 0 !important;
}
#dateRange_Icon {
    border-radius: 0;
}
#dataInputForm label {
    font-weight: normal !important;
}
.labelGroup {
    font-weight: bold !important;   
}
.labelOfButton {
    font-family: Arial;
    font-weight: bold;
}
.dropdownQuestion {
    background: #EAEDF1 !important;
    left: 0px !important;
}
.alignDivButton {
    width: 80%;
    margin : 7px auto;
}
.search-toolbar > div {
    margin-left: 5px;    
}
.search-toolbar {
    background-color:  #FFFFFF;
    height: 40px;
}
.selectpicker {
    min-width: 165px;
    padding-left: 0\0/; 
    padding-right: 0\0/;  
}

.information-icon{
    padding-left: 16px!important;
    padding-right: 16px!important;
}


    
@media (min-width: 100px) {
    .common_Icon{
        display: none!important;
        /*display: table-cell!important;*/
    }
    
    .force-full-width-small{
        width: 100%!important;
    }
    .type_Date {
        float: none;
        min-width: 97px;
        padding: 0;
    }
    .alignTextboxLeft{
        padding-left: 15px!important;
    }
    .divZipcode {
        padding-right: 15px;
    }
}




/*@media (min-width: 768px) {
    #auth_Icon{
        display: table-column!important;
    }
}*/

@media (min-width: 992px){
    .common_Icon{
        visibility: hidden;
        display: table-cell!important;
    }
    .type_Date {
        float: left!important;        
        padding: 0;
        min-width: 65px;
    }
    .alignTextboxLeft{
        padding-left: 0!important;
    }
    .divZipcode {
        padding-right: 17px;
    }
    .chosen-container-multi .chosen-choices .multi-1 {
        width: auto;
    }
    .chosen-container-multi .chosen-choices .multi-2{
        width: 93px;
    }    
    .chosen-container-multi .chosen-choices .multi-3 {
        width: 65px;
    }
    .chosen-container-multi .chosen-choices .multi-4 {
        width: 48px;
    }
     .chosen-container-multi .chosen-choices .multi-5 {
        width: 38px;
    }
    .chosen-container-multi .chosen-choices .multi-6 {
        width: 100px;
    }
}

.type_Date button {
    min-width: 65px;
}

/*@media (min-width: 1200px) {
    #auth_Icon{
        visibility: hidden;
        display: table-cell!important;
    }
}*/
.input-group .form-control {
    z-index: 0 !important;
}
.groupContact {
    padding: 0;
}
.shippingDate {
    border: 1px solid #CCCCCC;
    height: 25px !important;
}
.statusOfOrder {   
    color: #FFFFFF;
    display: inline;
    font-size: 10.5px;
    font-weight: bold;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    float: right;
}
.statusOfOrder-open {
    background: #FF6C60;
}
.statusOfOrder-wip {
    background: #F79219;
}
.statusOfOrder-rfshp {
    background: #77AF3B;
}
.statusOfOrder-shipd {
    background: #378FAC;
}
.statusOfOrder-compl {
    background: #999999;
}

#quantityOrder_Icon {
    cursor: pointer;
}
/*.menuBtt:hover{
    background-color: #428BCA;
    color: #FFFFFF;
};*/
#tableResult_length {
    float: right;
    margin-right: 15px;
}
.daterangepicker .ranges .range_inputs > div:nth-child(2) {
    padding-left: 0px !important;
}
.daterangepicker_end_input {
    margin-bottom: 9px;
}
.session1 {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 8px;
}
.session2 {
    margin-top: 8px;
}
.ui-autocomplete {
    padding: 10px;
    list-style: none;
    background: white;
    border: 1px solid #ccc;    
}
.result-state {
    
}
.bootstrap-select .btn {
    padding-top: 3px !important;
}


#container-auto-wrap{
    width: 100px;
}

.range_inputs label{
    display: block;
}



#totalAmount_Icon:hover > .bgtip{
    display: inline-block;
}


.bgtip {
    border: 1px solid #CCCCCC;
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    padding: 10px;
    position: absolute;
    z-index: 2000;
    min-width: 120px;
    bottom: 30px;
    display: none;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=180,strength=5);
}

.totalAmount {
    width: 100%;
}
.dataTables_length label {
    font-weight: normal !important;
}
.dataTables_paginate a {
    color: #000000;
    cursor: pointer;
}
.tooltip-inner {
max-width: 200px;
padding: 3px 8px;
color: #fff;
text-align: center;
text-decoration: none;
background-color: #EA5757;
border-radius: 4px;
border: 1px solid #EA5757 !important;
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #EA5757;
}
.active-li {
  background: #2A6496;
}
.active-li a{
  color: #FFFFFF !important;
  font-weight: bold;
}
.ui-autocomplete li a {
    color: #000000;
}
.ui-autocomplete li a:hover{
   color: #FFFFFF;
   font-weight: bold;
}
a.ui-state-focus {
    color: #FFFFFF !important;
    font-weight: bold !important;
}
li > a.ui-state-focus {
    background: #2A6496 !important;
}
.btn {
    border-radius: 0;
}
.emptyDateDiv{
    padding: 0 !important;
    width: 2px!important;
}
#type_Date{
    padding: 0\0/;    
}
#type_Date option{
    width: 200px\0/;    
}
.label_Zipcode {
    padding : 7px 7px 0 0!important;
}
.input-sm {
    font-size: 12px;
}
.chosen-container-multi .chosen-choices .search-choice span{
    display: block;
    -o-text-overflow: ellipsis;
    /*text-overflow: ellipsis;*/
    overflow: hidden;
    white-space: nowrap;
}
.filter-option {
    padding-top: 1px;
    padding-top: 3px\0/;
    text-align: right !important;
}
.bootstrap-select .btn-default{
    border-color: #fff!important;
}
.dropdown .btn-default {
    border-color: #FFFFFF;
}