/* ==iCheck [.icheck]*/
/* ----------------------------------------------- */
.icheckbox_minimal-blue,
.iradio_minimal-blue {
  display: inline-block;
}
.form-group .icheckbox_minimal-blue,
.form-group .iradio_minimal-blue {
  display: inline-block;
  top: 4px;
  margin-right: .5em;
}
.checkbox-inline,
.radio-inline {
  margin-right: 20px;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: 0;
}

#contentApp {
	background-color: #fff;
	padding: 20px 10px;	
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	font-size: 14px;
}	

#contentDsv a:hover { text-decoration: none;}

#contentDsv a {
	font-size: 14px;
	color: #22a1c8;
	font-weight: bold;
	line-height: 20px;
}
#contentDsv span.indicator {
	position: relative;
	top: 2px;
}

/*#contentDsv i.glyphicon-plus{
	font-weight: bold;	
	background: url(../images/icon-plus.png) no-repeat left center;
	padding-left: 30px;
}

#contentDsv i.glyphicon-minus{
	font-weight: bold;	
	background: url(../images/icon-tru.png) no-repeat left center;
	padding-left: 30px;
}*/

/*#contentDsv .panel-title:hover {
	color: #22a1c8;
	background: url(../images/icon-active.png) no-repeat left center;
}*/

#contentDsv .panel-heading { 
	background-color: #edf1f2;
	border-color: inherit;		
}

#contentColRight .page-heading {
	background-color: #edf1f2;
	font-size: 14px;
	padding: 10px 15px;
	margin-top: 0;
	color: #22a1c8;
	font-weight: bold;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

#contentDsv .panel { margin-top: 0;}

#contentDsv .panel-body {
	background-color: #f6f8f8;
	border: none;
}

#contentDsv .panel-body li { list-style: none;}

h4.common-title {
	background-color: #22a1c8;
	padding: 10px 20px;
	margin: 25px 0 0 0;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-mod-border-radius: 5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0;
}

#contentColRight .form-group {
	margin: 0px 0 20px 0;
}

#formHie .text-left {
	text-align: left!important;
	font-size: 14px !important;
	font-weight: 400;
}
.text-and,
.text-dollar,
.text-per { 
	padding: 7px 0 0 0!important;
}
.wrap-form-group { padding: 30px 0 20px 0;}

@media (min-width: 0px) and (max-width: 768px) {
  	#userAuthentication {
		display: none;
	}
	#mainNav .navbar-collapse {
		z-index: 9999;
		position: relative;
		background-color: #777;
	}

	#contentMainNav .dropdown-menu {
		background-color: #fff;
	}
	#contentMainNav .navbar-default .navbar-nav > .open > a, 
	#contentMainNav .navbar-default .navbar-nav > .open > a:hover, 
	#contentMainNav .navbar-default .navbar-nav > .open > a:focus,
	#contentMainNav .dropdown:hover,
	#contentMainNav .dropdown.active,
	#contentMainNav .navbar-nav .home-nav {
		background-color: #777;
		border-radius: 0;
	}
	
	#contentMainNav .nav .open > a, 
	#contentMainNav .nav .open > a:hover, 
	#contentMainNav .nav .open > a:focus {
		background-color: #CCC;
		border-radius: 0;
	}

	#contentMainNav .navbar-nav > li {
		margin: 0;
	}
}










