body {
/* 	position: relative; */
	font-size: 12px !important; 
}

a {
	cursor: pointer;
}

.cursor-pointer {
	cursor: pointer;
}

.form-control {
	font-size: 12px !important; 
}

#wrap {
	padding-bottom: 10px;
 	/*min-height: 640px; */
}

.navbar{
	border-radius: 0px !important;
}

.style-header {
	padding: 5px 0 0 0;
}

.container-override {
/* 	padding: 0px; */
	margin-top: 20px;
	margin-bottom: 25px;
}

#formHie label, #contentColRight label {
	outline: none !important;
	border: none !important;
/* 	width: 100%; */
}

.pd0 {
	padding: 0px;
}

.padding0-btn-cell {
	padding-bottom: 0px;
	padding-top: 0px;
}

.margin-right5 {
	margin-right: 5px;
}

.margin-left5 {
	margin-right: 5px;
}

.margin-right10 {
	margin-right: 10px;
}

.margin-top0 {
	margin-top: 0px !important;
}

.margin-top5 {
	margin-top: 5px;
}

.margin-top10 {
	margin-top: 10px;
}

.margin-top20 {
	margin-top: 20px;
}

.margin-bottom0 {
	margin-bottom: 0px;
}

.margin-bottom5 {
	margin-bottom: 5px;
}


.margin-bottom15 {
	margin-bottom: 15px;
}

.margin-bottom20 {
	margin-bottom: 20px;
}

.padding-top20 {
	padding-top: 20px;
}

.padding-top5 {
	padding-top: 5px;
}

.padding-bottom5 {
	padding-bottom: 5px;
}

.title-style {
	color: #22a1c8;
}

/*---------------------*/

* {
	margin: 0;
}

html,body {
	height: 100%;
}

.wrapper-main {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -5em;
}

.footer-main {
	height: 2em;
	color: #58666E; 
	width: 100%;
	margin-top: 12px;
}

/*-----Override bootstrap - panel-------*/
.style-panel-body {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;	
}

.panel-default>.panel-heading {
	color: #22a1c8;
	font-weight: bold;
}

.panel-primary>.panel-heading {
	color: #fff;
	background-color: #22a1c8;
	border-color: #22a1c8;
	font-weight: bold;
}

.modal-content {
/* 	border: 1px solid #d3d3d3; */
	border: none;
	border-radius: 5px;
}

.modal-header {
	min-height: 16.43px;
	padding: 10px 15px 10px 15px;
	border-bottom: 1px solid #e5e5e5;
	background-color: #F0F3F4;
	border-color: #D8D8DA;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

/*-------etc-------*/
.style-save-btn {
	margin-top: 20px;
}
.panel-border-none {
	border: none;
	box-shadow: none;
}
.btn-danger-reject {
	color: yellow;
}
.modal.in .modal-dialog {
	background: #fff;
	border-radius: 5px;
}

.font-bold {font-weight: bold;}

.magrintop30 {margin-top: 30px;}

.dataTables_empty {
	text-align: center;
}
.disabled {
	pointer-events: none;
}
/* Tooltip css*/
.tooltip-inner {
/* 	max-width: 200px; */
	padding: 3px 8px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-color: #333;
	border-radius: 4px;
	opacity: 0.75;
	border-color: #333;
	white-space: normal;
}
.tooltip-inner  table {background-color: #F0E68C!important;}
.tooltip-inner td {border-top: none !important;}
.tooltip-inner tr.firs-tr {background: none!important; border-top: none!important; border-bottom: 2px solid #000;}
.tooltip.in {opacity: 1;}
.table-align-left {text-align: left;}
.table-align-right {text-align: right;}
.table-align-center {text-align: center;}

.margin-bottom10 {
	margin-bottom: 10px;
}
.filterblock { margin: 0px 10px; border-bottom: 1px solid #bfbfbf;}
.filterblock a {color: #58666e; }
.filterblock a:hover {text-decoration: none;}
.can-change input {width: 100%; color: #000;}
.modal-body .can-change input {width: auto;}
.cost-decrease {background: green!important; color: #fff;}
.cost-increase {background: red!important; color: #fff;}
.alert-block {background: yellow!important; color: #fff;}

.padding-bottom0 {
	padding-bottom: 0px;
}

.padding-left0 {
	padding-left: 0px;
}

.padding-right0 {
	padding-right: 0px;
}

/*table*/
table.common-table-style tr td a {
	cursor: pointer;
}

.text-ver-middle {
	vertical-align: middle !important;
}

.padding-top0 {
	padding-top: 0px !important;
}

.export-excel {
    background: url("../image/icon-excel.png") no-repeat scroll 0px 7px rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    float: right !important;
    height: 38px;
    margin-right: 10px;
    width: 38px;
}
.flag-match {
    background: url("../image/icon-flag.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    float: right;
    height: 20px;
    width: 12px;
}

.clear-fix {
	clear: both !important;
}

@media screen and (max-width: 767px){
	.table-responsive {
		border: none !important;
	}
	
	#marginEnd, .receive-date-bw-wp{
		margin-top: 10px;
	}
	
	.common-table-style {
		width: auto !important;
	}
	
	.dataTables_length {
		clear:both;
		float: left;
	}
	
	.dataTables_length > label{
		float: left !important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#marginEnd, .receive-date-bw-wp{
		margin-top: 10px;
	}
	
	.common-table-style {
		width: auto !important;
	}
	#vendor-table {width: 100% !important;}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.common-table-style {
		width: auto !important;
	}
	#vendor-table {width: 100% !important;}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.common-table-style {
		width: auto !important;
	}
	#vendor-table {width: 100% !important;}
}

/* .common-table-style { */
/* 	width: auto !important; */
/* } */

.blockUI, .blockOverlay {
	opacity: 0.3;
	z-index: 99998 !important;
}

.blockMsg, .blockElement {
	opacity: 0.9;
	z-index: 99999 !important;
}

.text-bold { font-weight: bold;}

.legend {
	border-top: 1px solid #D3CCCC;
}

.legend .accordion-toggle-bdm {
	display: inline-block;
	position: relative;
	top: -10px;
	left: 10px;
	background-color: #FFF;
	padding: 0 5px;
	cursor: pointer;
}

/*menu*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

td.details-control {
    background: url('../image/datatable/plus.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('../image/datatable/minus.png') no-repeat center center;
}

.notifications.top-right {right: 8px; top: 125px; min-width: 263px;}
.notifications .close {padding-left: 5px; font-size: 17px;}
.notifications .alert .glyphicon  {padding-right: 5px;}

.ui-menu .ui-menu-item {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.btn-search-vendor-header:hover { cursor: pointer; }
.width100-menu {
	width: 100%;
	margin-top: -10px;
}
@media (min-width: 768px){
	.navbar-nav {
		float: left;
		margin: 0;
		width: 100%;
		margin-top: -10px;
	}
}

#navbar-header-wp-button {
	position: absolute;
	right: 0px;
}

/* Common for autoComplete */
input.wait {
    background: url("../image/wait.gif") no-repeat 99%;
}

.wrap-caret{
	float: right;
	margin-top: -25px;
	/* padding: 8px; */
	cursor: pointer;
	position: relative;
	z-index: 9;
	background-image: url('../image/caret.png');
	width: 25px;
	background-position: 0 0px;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0);
	height: 25px;
}
.wrap-caret .caret{
	border-top: none !important;
	border-right: none !important;
}

.ui-autocomplete {
	max-height: 500px;
	overflow-y: hidden;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}
/* IE 6 doesn't support max-height
	 * we use height instead, but this forces the menu to always be this tall
	 */
* html .ui-autocomplete {
	/*height: 200px;*/
}

@-moz-document url-prefix() { 
  .wrap-caret {
	    float: right;
	    padding: 8px;
	    cursor: pointer;
	    margin-top: -26px;
	    z-index: 9;
	    position: relative;
	}
}
.ui-menu .ui-state-focus, .ui-menu .ui-state-active {margin: 0px !important;}

.ibutton-container.ibutton-focus label { border:0 !important;}


.tooltip.fade.top.in{
	margin-top: -10px;
}
/* .tooltip.top .tooltip-arrow{ */
/* 	border-top-color: #333; */
/* 	opacity: 0.8; */
/* } */

.tooltip.top .tooltip-arrow {
	border-top: 5px solid #EA5757;
	opacity: 0.8;
	top: auto !important;
}

.tooltip.bottom .tooltip-arrow {
	border-bottom: 5px solid #EA5757;
	opacity: 0.8;
	bottom: auto !important;
}

.tooltip.right .tooltip-arrow {
	border-right: 5px solid #EA5757;
	opacity: 0.8;
	right: auto !important;
}

.tooltip.left .tooltip-arrow {
	border-left: 5px solid #EA5757;
	opacity: 0.8;
	left: auto !important;
}

.tooltip-inner {
	padding: 3px 8px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-color: #EA5757;
	border-radius: 4px;
}

/*header datatables*/
.dataTable thead tr th {
	background-color: rgb(217, 237, 247) !important;
	font-weight: bold !important;
	vertical-align: middle !important;
	text-align: center !important;
}

.table-bordered > thead > tr > th, 
.table-bordered > thead > tr > td {
	border-bottom-width: 0px !important;
}

/* footer datatables */
.dataTables_info {
	clear: both !important;
	float: left !important;
}

.dataTables_length > label {
	float: right !important;
	margin-top: 4px !important;
	margin-right: 20px !important;
}

button.close {
	opacity: 0.8 !important;
	font-size: 18px !important;
}

button.close:HOVER {
	opacity: 1 !important;
}

.input-sm-table {
	height: 25px !important; 
}
.red-color {
	color: red;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	pointer-events: painted !important;
}

.form-control::-ms-clear {
    display: none !important;
}
.turnAllRule {
	color: rgb(34, 161, 200);
	font-weight: bold;
}
.text-align {
	text-align: right;
}

.ui-autocomplete {
	max-height: 200px;
	max-width: 100%;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: auto;
}
/* IE 6 doesn't support max-height
	 * we use height instead, but this forces the menu to always be this tall
	 */
* html .ui-autocomplete {
	height: 200px;
}

.input-number, .input-decimal {
	text-align: right;
}

.input-group-addon {
	padding: 4px 12px !important;
}

/* .table-responsive { */
/* 	min-width: 1300px; */
/* } */
.tab-content {
	overflow: auto;
}

.border-radius-btn {
	border-radius: 3px !important;
}

.select-sm {
	height: 25px !important;
}

.visibility-hidden {
	visibility: hidden;
}