.contentColRight-panel {
	box-shadow: none;
}
#contentColLeft, #contentColRight {
	margin-top: 5px;
}
.jstree-scoll {
	overflow-y: scroll;
	height: 500px;
}

.option-left .ibutton-handle-checkmark { 
	background: transparent url(../image/circle_checkmark.png) no-repeat center;
	padding-left: 0;
	margin-left: 3px;
}
.ibutton-handle-checkmark {
  display: block;
  height: 25px;
  cursor: inherit;
  position: absolute;
  top: 0;
  left: 46px;
  background: transparent url(../image/circle_checkmark.png) no-repeat;
  z-index: 3;
  padding-left: 3px;
	/* set default width based on ON/OFF labels */
	width: 25px;
}
.ibutton-container-checkmark {
  position: relative;
  height: 27px;
  cursor: pointer;
  overflow: hidden;
	/* set max width to that of sprite */
	max-width: 400px;
	/* prevent text selection */
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-moz-user-focus: ignore; 
	-moz-user-input: disabled;
	/* set default width based on ON/OFF labels */
	width: 62px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #c2d4d9;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#c2d4d9), to(#c2d4d9));
	background: -webkit-linear-gradient(#c2d4d9, #c2d4d9);
	background: -moz-linear-gradient(#c2d4d9, #c2d4d9);
	background: -ms-linear-gradient(#c2d4d9, #c2d4d9);
	background: -o-linear-gradient(#c2d4d9, #c2d4d9);
	background: linear-gradient(#c2d4d9, #c2d4d9);
	-pie-background: linear-gradient(#c2d4d9, #c2d4d9);
	behavior: url(../image/PIE.htc);
}