#contentApp {
	background-color: #fff;
	padding: 20px 10px 0 10px;
	margin-bottom: 5px;	
/* 	border-left: 1px solid #CCC; */
/* 	border-right: 1px solid #CCC; */
/* 	border-bottom: 1px solid #CCC; */
	border-radius: 0 0 5px 5px;
/* 	font-size: 12px; */
}	

.common-form-style .form-group label { 
	font-weight: normal;
	line-height: 30px;
}

.common-form-style .form-group { 
	margin-bottom: 2px;
}

#contentDsv a:hover { text-decoration: none;}

#contentDsv a,
#contentDashboard a {
/* 	font-size: 12px; */
	color: #22a1c8;
	font-weight: bold;
	line-height: 20px;
}

#collapseHie a > span.glyphicon { color: #9B9B9B;}

#contentDsv a:hover,
#contentDashboard a:hover {
	text-decoration: none;
}
#subDepartment .radio, .checkbox { 
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

#collapseHie { 
	background-color: #f6f8f8;	
}

#collapseHie .sub-check li:hover { background-color: #d5eff7;}

#collapseHie .parent-label a {
	color: #58666e;
}

#collapseHie .sub-check li:last-child { border-bottom: 1px solid #EBE9E9;}

#collapseHie .parent-label {
	padding: 10px 0;
}
#contentDsv span.indicator {
	position: relative;
	top: 2px;
}
.parent-label {
	border-bottom: 1px solid #EBE9E9;
	width: 100%;
	padding-left: 35px !important;
	padding-bottom: 20px;
	padding-top: 10px;
}
.sub-check { 
	padding-left: 0;
	margin-top: 0;
}

.sub-check li {
	padding: 10px 0 10px 0;
	border-bottom: 1px solid #EBE9E9;
}
.sub-check li:last-child { 
	border: none;
}
.sub-check li label { 
	margin-left: 30px;
}
/*#contentDsv i.glyphicon-plus{
	font-weight: bold;	
	background: url(../image/icon-plus.png) no-repeat left center;
	padding-left: 30px;
}

#contentDsv i.glyphicon-minus{
	font-weight: bold;	
	background: url(../image/icon-tru.png) no-repeat left center;
	padding-left: 30px;
}*/

/*#contentDsv .panel-title:hover {
	color: #22a1c8;
	background: url(../image/icon-active.png) no-repeat left center;
}*/

#contentDsv .panel-heading,
#contentDashboard .panel-heading { 
	background-color: #edf1f2;
	border-color: inherit;		
}

#contentColRight .page-heading {
	background-color: #edf1f2;
	font-size: 12px;
	padding: 10px 15px;
	margin-top: 0;
	color: #22a1c8;
	font-weight: bold;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

#contentDsv .panel,
#contentDashboard .panel-heading { margin-top: 0;}

#contentDsv .panel-body,
#contentDashboard .panel-body {
	background-color: #f6f8f8;
	border: none;
}

#contentDsv .panel-body li,
#contentDashboard .panel-body li, { list-style: none;}

h4.common-title {
	background-color: #22a1c8;
	padding: 10px 20px;
	margin: 25px 0 0 0;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-mod-border-radius: 5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0;
}

#contentColRight .form-group {
	margin: 0px 0 30px 0;
}

#formHie .text-left {
	text-align: left!important;
	font-size: 12px !important;
	font-weight: normal;
}

#formHie .form-group {
	margin-bottom: 0px;
	padding-top: 0; 
}
#formHie .option-left {
	margin-bottom: 10px;
}

.text-and,
.text-dollar,
.text-per { 
	padding: 7px 0 0 0!important;
}
.text-dollar h4,
.text-per h4 { margin-top: 0}

.text-per b { 
	width: 10px;
	display:block;
}
.wrap-form-group { padding: 30px 0 20px 0;}

.common-check { padding-left: 0px;}

/* footer { */
/* 	position: fixed; */
/* 	bottom: 0; */
/* 	left: 50%; */
/* 	margin-left: -101px; */
/* } */

#treeHie > ul > li > ul > li:first-child a {
 	width: 90%;
}
.rule-flag{
 	background: url(../image/icon-flag.png) no-repeat right center !important;
	z-index: 9999;
}
#treeHie > ul > li > ul > li:first-child ul li a {
	 background: none;
}

#treeHie > ul > li > a.jstree-anchor {
 font-weight: bold;
 font-size: 12px;
 color: #22a1c8;
 line-height: 24px;
}

@media (max-width: 767px) {
  	#userAuthentication li:first-child,   
   .home-nav {
  		display: none;
 	}

	#contentMainNav .navbar-default .navbar-nav > .open > a, 
	#contentMainNav .navbar-default .navbar-nav > .open > a:hover, 
	#contentMainNav .dropdown:hover,
	#contentMainNav .dropdown:active,
	#contentMainNav .dropdown:focus,
	#contentMainNav .nav .open {
		background-color: #f5f5f5!important;		
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #f5f5f5;
	}

	#mainNav .navbar-collapse {
		z-index: 9999;
		position: relative;
		background-color: #fff;
		border-left: 1px solid #CCC;
		border-right: 1px solid #CCC;
		margin-top: 40px;
	}

	#contentMainNav .navbar-nav > li > a {
		color: #58666e;
	}
	#contentMainNav > ul > li {
		width: 100%;
	}

/* 	#contentMainNav .navbar-nav > li { */
/* 		margin: 0; */
/* 	} */
	
	#contentMainNav .navbar-nav > li:first-child {
  		margin: 10px 0 0 0;
 	}
}

.style-save-global {
	border-top: 1px solid #d3d3d3;
}
#global-save-btn,#reset-toDefault-btn {
	margin-top: 10px;
}

.input-sm {
    height: 25px;
    padding: 4px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.turnOnAllRuleClss {
	padding-top: 0;
}


/*flag style ---- Duyen Le fixed*/

.jstree-default .jstree-anchor {
  line-height: 24px;
  height: 24px;
  width: 100%;
  padding-left: 32px;
  margin-left: -32px;
  position: relative;
  z-index: 0;
}
.jstree-default-large > .jstree-no-dots .jstree-open > .jstree-ocl {
  position: relative;
  z-index: 1;
}
.jstree-default-large > .jstree-no-dots .jstree-closed > .jstree-ocl {
  position: relative;
  z-index: 1;
}


.jstree-default > .jstree-no-dots .jstree-open > .jstree-ocl{
  position: relative;
  z-index: 1;
}
.jstree-default > .jstree-no-dots .jstree-closed > .jstree-ocl{
  position: relative;
  z-index: 1;
}

#treeHie > ul > li > ul > li:first-child a.jstree-anchor{
  width: 100%;
}

.userAndTimeUpdateStyle {	
	color: #000000;
}
.userAndTimeUpdateStyleDiv {	
	color: #58666e;
	text-align: right;
}
/*End flag style ---- Duyen Le fixed*/
.text-ellipsis {
  max-width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 130px;
}