.ibutton-container {
  position: relative;
  height: 27px;
  cursor: pointer;
  overflow: hidden;
	/* set max width to that of sprite */
	max-width: 400px;
	/* prevent text selection */
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-moz-user-focus: ignore; 
	-moz-user-input: disabled;
	/* set default width based on ON/OFF labels */
	width: 67px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #8ce196;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#8ce196), to(#8ce196));
	background: -webkit-linear-gradient(#8ce196, #8ce196);
	background: -moz-linear-gradient(#8ce196, #8ce196);
	background: -ms-linear-gradient(#8ce196, #8ce196);
	background: -o-linear-gradient(#8ce196, #8ce196);
	background: linear-gradient(#8ce196, #8ce196);
	-pie-background: linear-gradient(#8ce196, #8ce196);
	behavior: url(../image/PIE.htc);
}

#formHie .select-option .ibutton-container{ 
	background:none;
	border-radius: 0;
}
#formHie .option-left .ibutton-container{ 
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}
/*#formHie .option-left .ibutton-label-off span label{
	display: inline-block;
	text-indent: -9999px;
}*/
.ibutton-container input {
  position: absolute;
	top: 0;
	left: 0;

	/* hide the element */
	filter:alpha(opacity=0);
	-moz-opacity: 0.0; 
	opacity: 0.0;

	/* allow checking of input if visible */
	-moz-user-input: enabled  !important;
}

.select-option .ibutton-handle {
	background: url(../image/ibutton-slider-default.png) no-repeat scroll 0 -54px;
}
.ibutton-handle {
  display: block;
  height: 25px;
  cursor: inherit;
  position: absolute;
  top: 0;
  left: 46px;
  background: transparent url(../image/bg-target.png) no-repeat;
  z-index: 3;
  /*padding-left: 3px;*/
	/* set default width based on ON/OFF labels */
	width: 25px;
}
.select-option .ibutton-handle-right,
.select-option .ibutton-handle-left,
.select-option .ibutton-handle-middle {
	background: inherit;
}
.ibutton-handle-right {
  height: 100%;
  width: 100%;
  padding-right: 3px;
  background: transparent url(../image/bg-target.png) no-repeat scroll;
  z-index: 3; 
}

.ibutton-handle-middle {
  height: 100%;
  width: 100%;
  background: transparent url(../image/bg-target.png) no-repeat scroll;
  z-index: 3; 
}

div.ibutton-label-on, div.ibutton-label-off {
  white-space: nowrap;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: inherit;
  display: block;
  height: 27px;
  position: absolute;
  width: auto;
  top: 0;
  padding-top: 5px;
  overflow: hidden; 
  /*background: transparent url(../image/ibutton-slider-default.png) no-repeat scroll 0 0;*/
}

div.ibutton-label-on, div.ibutton-label-off span { font-size: 12px !important;}

div.ibutton-label-on {
  left: 0;
  padding-top: 5px;
  z-index: 1; 
}

div.ibutton-label-on span {
  padding-left: 5px;
}

div.ibutton-label-off span:focus,
div.ibutton-label-off span::-webkit-focus-inner,
div.ibutton-label-off span:active,
div.ibutton-label-on span:focus,
div.ibutton-label-on span:active,
div.ibutton-label-on span::-webkit-focus-inner {
	outline: 0 none !important;
	border: 0!important;
}
div.ibutton-label-off {
  color: #7c7c7c;
  background-position: 100% 0;
  text-shadow: 0 -1px 2px rgba(153, 153, 153, 0.4);
  text-align: right;
  right: auto;
	/* the off label needs to near the left edge (ideally just 5px away) 
	 * it just needs to be close enough that it won't show under the handle if dragged to the left  
	 */
	width: 95%;
}

div.ibutton-label-off span {
  padding-right: 5px; 
}

/* create an outline when button gets focus via keyboard */
.ibutton-container label {
	cursor: inherit;
	padding: 0;
	font-size: 1em !important;
	color: #fff;
}

.ibutton-focus label {
	/* we must use border, since outline doesn't work in IE */
	border: 1px dotted #666 !important;
	padding: 0 2px;
}

.ibutton-focus div.ibutton-label-on span label {
	/* use white for more contrast */
	border-color: #fff !important;
}

/* add padding to right/left so that text gets clipped before absolute edge */
.ibutton-padding-left, .ibutton-padding-right {
	position: absolute; 
	top: 4px;
	z-index: 2; 
	background: none; 
	width: 3px;
	height: 20px;
}
	
.ibutton-padding-left {
	left: 0; 
}

.ibutton-padding-right {
	right: 0; 
	background-position: 100% -4px;
}

/* change the styles of the handle when being dragged */
.ibutton-active-handle .ibutton-handle {
	background-position: 0 -108px;
}

.ibutton-active-handle .ibutton-handle-right {
	background-position: 100% -108px;
}

.ibutton-active-handle .ibutton-handle-middle {
	background-position: 50% -108px;
}

/* styles to use when the button is disabled */
.ibutton-disabled {
	cursor: not-allowed !important; /* cursor options: default or not-allowed */
}

.ibutton-disabled .ibutton-handle {

}

.ibutton-disabled .ibutton-handle-right {
	background-position: 100% -81px;
}

.ibutton-disabled .ibutton-handle-middle {
	background-position: 50% -81px;
}

.ibutton-disabled div.ibutton-label-on {
	background-position: 0 -27px;
}

.ibutton-disabled div.ibutton-label-off {
	background-position: 100% -27px;
}

.ibutton-disabled .ibutton-padding-left {
	background-position: 0 -27px;
}

.ibutton-disabled .ibutton-padding-right {
	background-position: 100% -27px;
}

.ibutton-disabled div.ibutton-label-on {
	color: #fff;
}

.ibutton-disabled div.ibutton-label-off {
	color: #cbcbcb;
}

.ibutton-container input {
  position: absolute;
	top: 0;
	left: 0;

	/* hide the element */
	filter:alpha(opacity=0);
	-moz-opacity: 0.0; 
	opacity: 0.0;

	/* allow checking of input if visible */
	-moz-user-input: enabled  !important;
}

.select-option .ibutton-handle {
  display: block;
  height: 27px;
  cursor: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background: transparent url(../image/ibutton-slider-default.png) no-repeat scroll 0 -54px;
  z-index: 3;
  padding-left: 3px;
	/* set default width based on ON/OFF labels */
	width: 33px;
}

.select-option .ibutton-handle-right {
  height: 100%;
  width: 100%;
  padding-right: 3px;
  background: transparent url(../image/ibutton-slider-default.png) no-repeat scroll 100% -54px;
  z-index: 3; 
}

.select-option .ibutton-handle-middle {
  height: 100%;
  width: 100%;
  background: transparent url(../image/ibutton-slider-default.png) no-repeat scroll 50% -54px;
  z-index: 3; 
}

.select-option div.ibutton-label-on, 
.select-option div.ibutton-label-off {
  white-space: nowrap;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: inherit;
  display: block;
  height: 27px;
  position: absolute;
  width: auto;
  top: 0;
  padding-top: 5px;
  overflow: hidden; 
  background: transparent url(../image/ibutton-slider-default.png) no-repeat scroll 0 0;
}

.select-option .ibutton-label-on span, ibutton-label-on span{
	outline: none!important;	
}

.select-option div.ibutton-label-on {
  color: #fff;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.4);
  left: 0;
  padding-top: 5px;
  z-index: 1; 
}

.select-option div.ibutton-label-on span {
  padding-left: 5px;
}

.select-option div.ibutton-label-off {
  color: #7c7c7c;
  text-align: right;
  right: auto;
	/* the off label needs to near the left edge (ideally just 5px away) 
	 * it just needs to be close enough that it won't show under the handle if dragged to the left  
	 */
	width: 95%;
}

div.ibutton-label-off span {
  padding-right: 5px; 
}

/* create an outline when button gets focus via keyboard */
.select-option .ibutton-container label {
	cursor: inherit;
	padding: 0;
	font-size: 1em !important;
	border: none !important;
	outline: none !important;
}

.select-option .ibutton-focus label {
	/* we must use border, since outline doesn't work in IE */
	border: 1px dotted #666 !important;
	padding: 0 2px;
}

.select-option .ibutton-focus div.ibutton-label-on span label {
	/* use white for more contrast */
	border-color: #fff !important;
}

/* add padding to right/left so that text gets clipped before absolute edge */
.select-option .ibutton-padding-left, .select-option .ibutton-padding-right {
	position: absolute; 
	top: 4px;
	z-index: 2; 
	background: none; 
	width: 3px;
	height: 20px;
}
	
.=.select-option ibutton-padding-left {
	left: 0; 
}
