* {
	margin: 0;
}

html,body {
	height: 100%;
}

.wrapper-login {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -3em;
}

.footer-login {
	height: 2em;
	color: white; 
	width: 100%;
}

/*------------------*/

body {
	background-color: #22a1c8;
}

#wrapperLoginForm {
	background-color: #22a1c8;
	height: 100%;
}

.contentLoginForm {
	
}

.contentLoginForm form {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -205px;
	margin-top: -90px;
	max-width: 420px;
	width: 420px;
	padding: 20px 40px 10px 40px;
	border: 5px solid #2096ba;
	border-radius: 10px 10px 10px 10px;
	background-color: #f0f3f4;
}

.gr-signing {
	border-bottom: 1px solid #CCC;
	padding-bottom: 20px;
}

.change-pw {
	padding: 10px 0 0 0;
}

/* .contentLoginForm legend { */
/* 	color: #ee2e24; */
/* 	border-bottom: 2px solid #ee2e24; */
/* 	padding-bottom: 7px; */
/* } */
.contentLoginForm h3 {
	color: #ee2e24;
	border-bottom: 2px solid #ee2e24;
	padding-bottom: 7px;
	font-size: 21px;
	margin-bottom: 15px;
}

.contentLoginForm .checkbox label {
  padding-left: 20px;
  white-space: nowrap;
}

.alert{
	padding: 5px !important;
	margin-top: 20px;
}