
body {
	background: #f0f3f4;
	color: #58666e;
	font-family: 'Open Sans', sans-serif;
/* 	font-size: 12px; */
}

#sectionLogin a:hover { color: #ee2e24 !important;}

.mgt8 { margin-top: 8px!important;}

#header {
	background: url(../image/bg-header.png) no-repeat 0 0;
	height: 94px;
}

/* #wrapper .navbar-default {  */
/* /* 	background-color: initial; */ */
/* /* 	border: none; */ */
/* } */

#header .navbar-brand { padding-left: 0;}

#header .navbar-toggle {
	border-color: #fff;
	margin-top: 30px;
}

#header .navbar-collapse { border: none;}

#sectionLogin {
	padding: 20px 0 0 0;
}

#sectionLogin li:first-child{
	line-height: 50px;
	padding-right: 10px;
}
#sectionLogin li:last-child { background: none;}

#userAuthentication ul li {
	background: url(../image/bg-line.png) no-repeat right;
}


#contentMainNav a {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
}

#contentMainNav ul li ul li a {
	color: #58666e;
}

#contentMainNav .navbar-default .navbar-nav > .open > a, 
#contentMainNav .navbar-default .navbar-nav > .open > a:hover, 
#contentMainNav .navbar-default .navbar-nav > .open > a:focus,
#contentMainNav .dropdown:hover,
#contentMainNav .dropdown.active,
#contentMainNav .navbar-nav .home-nav {
	background-color: #ff6961;
	margin-top: 7px;
	/*border: 1px solid #d82920;*/
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-mod-border-radius: 5px;
	-ms-border-radius: 5px;
}

#contentMainNav .nav .open > a, 
#contentMainNav .nav .open > a:hover, 
#contentMainNav .nav .open > a:focus {
	background-color: #ff6961 !important;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-mod-border-radius: 5px;
	-ms-border-radius: 5px;
}

#contentMainNav .navbar-nav > li {
	margin-right: 25px;
	margin-top: 7px;
}

#contentMainNav .navbar-nav > li > a {
	padding-top: 8px;
	padding-bottom: 8px;
}
footer {
	/*background: url(../images/bg-footer.png) repeat-x;
	height: 100px;*/
}










