
body {
	background: #f0f3f4;
	color: #58666e;
	font-family: 'Open Sans', sans-serif;
/* 	font-size: 12px; */
}

ul li { list-style: none !important;}

.wd100 { 
	width: 100% !important;
}

#sectionLogin a:hover { color: #ee2e24 !important;}

.mgt8 { margin-top: 8px!important;}

.pdlr0 { padding-left: 0; padding-right: 0}


#header {
	background: url(../image/bg-header.png) repeat-x;
	height: 45px;
}

@media (max-width: 640px) {
	#header { height: 95px;}
}

#wrapper .navbar-default { 
	background: none;
	border: none;
	-webkit-box-shadow: none !important;
}

#header .navbar-brand { 
	padding: 3px 15px 3px 0px;	
}

#header .navbar-brand img {
	height: 40px;
}

#header .navbar-toggle {
	border-color: #fff;
	margin-top: 5px;
}

.navbar-toggle {
	margin-top: 3px !important;
}

#header .navbar-collapse { border: none;}

#sectionLogin {
	padding: 10px 0 0 0;
}

#sectionLogin li:first-child{
	/*padding-right: 10px;*/
}
#sectionLogin li:last-child { background: none;}

#userAuthentication { float: right;}

#userAuthentication ul li {
	background: url(../image/bg-line.png) no-repeat right;
	float: left;
	display: inline-block;
	padding: 0 10px;
	line-height: 50px;
}

#mainNav { 
	background-color: #ee2e24;
	border-top: 2px solid #b92119;
	height: 42px;
	border-radius:0px;
}

#contentMainNav a {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
}

#contentMainNav ul li ul li a {
	color: #58666e;
}

#contentMainNav .navbar-default .navbar-nav > .open > a, 
#contentMainNav .navbar-default .navbar-nav > .open > a:hover, 
#contentMainNav .navbar-default .navbar-nav > .open > a:focus,
#contentMainNav .navbar-nav .home-nav {
	background-color: #ff6961;
	margin-top: 1px;
	/*border: 1px solid #d82920;*/
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-mod-border-radius: 5px;
	-ms-border-radius: 5px;
}

#contentMainNav .dropdown:hover,
#contentMainNav .dropdown.active {
	background-color: #ff6961;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-mod-border-radius: 5px;
	-ms-border-radius: 5px;
}

#contentMainNav .nav .open > a, 
#contentMainNav .nav .open > a:hover, 
#contentMainNav .nav .open > a:focus {
	background-color: #ff6961;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-mod-border-radius: 5px;
	-ms-border-radius: 5px;
}

#contentMainNav .navbar-nav > li {
	margin-right: 25px;
	margin-top: 1px;
}

#contentMainNav .navbar-nav > li > a {
	padding-top: 5px;
	padding-bottom: 5px;
}

/* .footer { */
/*  position: absolute; */
/*  bottom: 0; */
/*  left: 50%; */
/*  margin-left: -98px; */
/* } */









