/*COMMON*/
.inputData input[type="text"] {
	width: 100%;
}
.inputData { 
	background-color: #f0f3f7;
}
.clearfix {
	clear: both;
}
.disable-class {
	opacity : .65;
	cursor: not-allowed;
}
/*END COMMON*/

/*SEARCH CRITERIA*/
.and-label-wp {
	text-align: center;
}
.and-label {
	vertical-align: middle;
	font-size: 12px;
	background-color: white;
	color: #777;
	font-weight: normal;
}
/*END SEARCH CRITERIA*/

/*SEARCH RESULT*/
#searchResult {
	background-color: #f5f5f5;
	border-top: 1px solid #cfdadd;
	margin-left: -10px;
	margin-right: -10px;
	padding: 5px 10px 5px 10px;
	line-height: 30px;
	border-radius: 0;
}

/*TABLE---------------*/
.no-group {
	width: 3%;
}

.change-background {
	background-color: #f0ad4e !important;
	color: white;
}

.upc-group {
	width: 7%;
}
.product-desc-group {
	width: 10%;
}
.pack-size-group {
	width: 6%;
}
.current-map-yn-group {
	width: 5%;
}
.current-comp-yn-group {
	width: 5%;
}
.next-pack-size-group {
	width: 6%;
}
.next-map-yn-group {
	width: 5%;
}

.current-cost-group,
.current-retail-group,
.next-cost-group,
.next-retail-group {
	width: 6%;
}

.current-gp-group,
.next-gp-group {
	width: 5%;
}

.effective-date-group {
	width: 7%;
}

.common-table-style tr.firs-tr {
	background-color: #d9edf7;
	border-top: 1px solid #bce8f1;
}
.common-table-style >thead>tr>th { 
	border-bottom: 1px solid #ddd !important;
	text-align: center;
}

.common-table-style td,
.common-table-style th { 
	padding: 5px!important;
	vertical-align: middle !important;
}

.second-tr > th > input {
	width: 100% !important;
}

.second-tr > th > select {
	width: 100% !important;
}

#new-and-changes-passed-table,
#new-and-changes-failed-table,
#new-and-changes-all-table {
	width: auto !important;
	margin-bottom: 10px !important;
}

#new-and-changes-passed-table_info,
#new-and-changes-failed-table_info,
#new-and-changes-all-table_info{
	clear: both;
	float: left;
}

#new-and-changes-passed-table_length > label,
#new-and-changes-failed-table_length > label,
#new-and-changes-all-table_length > label {
	float: right;
	margin-top: 4px;
	margin-right: 20px;
}

.firs-tr th {
	font-weight: bold;
}

.table-responsive-min-width,
.min-width-alert-wp {
	overflow: auto;
}

.dataTables_wrapper {
/* 	min-width: 1600px !important; */
	margin-bottom: 60px !important;
}

.wp-table-2 {
	overflow: auto;
	margin-bottom: 10px;
}

.wp-table-3 {
	min-width: 1600px !important;
}

.popover {
	display: table !important;
}
/*END TABLE-----------*/

/*END SEARCH RESULT*/


@media (max-width: 767px) {
	.input-date-end { 
		margin-top: 20px;
	}
	#btnSearchPrd { 
		margin-bottom: 20px;
	}
	
	/*table*/
	#new-and-changes-passed-table_length .form-control,
	#new-and-changes-failed-table_length .form-control,
	#new-and-changes-all-table_length .form-control {
		 display: inline;
	}
	
	#new-and-changes-passed-table_paginate,
	#new-and-changes-failed-table_paginate,
	#new-and-changes-all-table_paginate {
		float: left;
		clear: both;
	}

	#new-and-changes-passed-table_length > label,
	#new-and-changes-failed-table_length > label,
	#new-and-changes-all-table_length > label {
		float: left;
		margin-top: 4px;
		margin-right: 20px;
	}
	
	.search-btn-wp{
		margin-bottom: 10px;
	}
	
	#marginEnd, .receive-date-bw-wp{
		margin-top: 10px;
	}

}

@media (min-width: 768px) and (max-width: 991px) {
	#marginEnd, .receive-date-bw-wp{
		margin-top: 10px;
	}
}

/*datatables*/
div.DTTT { 
	margin-bottom: 0.5em; 
	float: right;
/* 	margin-right: 10px;  */
}
div.dataTables_wrapper { clear: both; }

.accordion-toggle:before {
	font-family: FontAwesome;
	content: "\f103";
	color: #808080;
	font-family: FontAwesome;
    position: absolute;
    left: 5;
}

.accordion-toggle.collapsed:before {
/* 	font-family: FontAwesome; */
	content: "\f101";
	color: #808080;
	font-family: FontAwesome;
    position: absolute;
    left: 5;
}

.legend { 
	border-top: 1px solid #D3CCCC;
}
.legend .accordion-toggle {
	display: inline-block;
	position: relative;
	top: -10px;
	left: 10px;
	background-color: #FFF;
	padding: 0 5px;
	cursor: pointer;
/* 	font-weight: bold; */
}
.legend .accordion-toggle-bdm {
	display: inline-block;
	position: relative;
	top: -10px;
	left: 10px;
	background-color: #FFF;
	padding: 0 5px;
	cursor: pointer;
}

#searchResult.borderless {
	padding-top: 20px; border-top:none;
}

#searchResult.borderless .legend .accordion-toggle {
	background-color: #F5F5F5;
}

table {
    table-layout: fixed\9;
}

.text-ellipsis {
	max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;
}

.clear-filtter-style {
	color: red;
}

#approve-btn-failed, #approve-btn-passed {
/* 	margin-right: 10px !important; */
}
.visibility-class {
	visibility: hidden;
}

#fa-angle-double-down-style {
	width: 15px !important;
}
.style-panel-body {
	padding-top: 0px;
}

#dateBegin-icon-wp, #dateEnd-icon-wp {
	cursor: pointer;
}
#new-and-changes-passed-table_wrapper,
#new-and-changes-failed-table_wrapper,
#new-and-changes-all-table_wrapper {
	position: relative;
}
.filter-btn-style {
	background: #fff url(../../image/clear-filter.png) no-repeat center;
	height: 29px;
	width: 29px;
/* 	visibility: hidden; */
}
.info-style {
	cursor: help;
}

/*tab style*/
#tabResult {
	background-color: #f5f5f5;
	margin-right: -10px;
	margin-left: -10px;
	position: relative;
}

#tabResult.without-panel {
	background-color: transparent;
	height: 20px;
}
#tabResult li a {
	color: #58666e;
}
#tabResult li.active a { font-weight: bold;}

.common-content-tab { 
	padding: 20px 0;
}
#tab-all-title {
	border-left: 0px;
	border-radius: 0px 4px;
}

.popover-content {
	padding: 0px !important;
}
.popover {
	border-radius: 0px !important;
}

.input-group-addon-cell {
	line-height: 0.5 !important;
	height: 22px !important;
	background-color: #FFF;
	padding: 5px 1px !important;
	border: transparent;
	background-color: transparent;
}

.format-input-cell {
	padding: 0px !important;
	height: 22px !important;
	border-radius: 2px !important;
}

.bullet {
	background: transparent url("../../image/bullet2.png") no-repeat right top;
}

.label-info,
.label-danger,
.label-warning {
	font-size: 100% !important;
	font-weight: normal;
}

.label {
	font-size: 100% !important;
	font-weight: normal;
}

/* .status-cls .label { */
/* 	font-size: 100% !important; */
/* } */

.label-info-input{
	background-color: #5bc0de;
	color: white;
}

.label-danger-input{
	background-color: #d9534f;
	color: white;
}
#failed-input,
#vendor-input {
  height: 25px;
}