@CHARSET "ISO-8859-1";

#contentColLeft .page-heading {
	background-color: #edf1f2;
	font-size: 14px;
	padding: 10px 15px;
	margin-top: 0;
	color: #22a1c8;
	font-weight: bold;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

#contentColLeft .page-content {
	padding: 0px 5px;
	/*border-right: 1px solid #edf1f2;*/
	margin-top: -10px;
	margin-bottom: 5px;
	height: 100%;
}

.customizedFormCls .form-group {
	margin: 5px !important;
}

.customizedFormCls .border-group {
	border: 1px solid #edf1f2 !important;
}

.customizedFormCls .text-left {
	text-align: left !important;
	font-size: 14px !important;
	font-weight: normal;
}

.customizedFormCls .text-right {
	text-align: right !important;
/* 	font-size: 14px !important; */
	font-weight: normal;
}

.bordertop-group {
	border-top: 1px solid #edf1f2 !important;
}

.price-sub-header {
	padding-left: 3%;
}

.border-right {
	border-right: 1px solid #edf1f2;
}

.border-left {
	border-left: 1px solid #edf1f2;
}

.border-top {
	border-top: 1px solid #edf1f2;
}

.border-bottom {
	border-bottom: 1px solid #edf1f2;
}

.align-right {
	text-align: right;
}

.custom-lable {
	font-weight: normal;
}

.current-input {
	width: 70%;
}

.form-control {
	padding: 6px;
}

#contentColLeft {
	clear: both;
}

.jstree-default-large>.jstree-no-dots .jstree-open>.jstree-ocl {
	display: none;
}

.jstree-scoll {
	overflow-y: scroll;
	height: 250px;
}

.price-sub-content{
	clear: both;
}

.percent-cls {
	font-size: 14px;
}

.dollar-cls {
	font-size: 14px;
}

input[type='text'] {
	padding: 0 5px;
}

@media only screen and (min-width:992px) {
	.sub-content {
		min-height: 580px;
	}
	.arrow_box:after,.arrow_box:before {
		left: 100%;
		top: 10%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	.arrow_box:after {
		border-color: rgba(136, 183, 213, 0);
		border-left-color: #edf1f2;
		height: 90%;
		border-width: 10px;
		margin-top: -30px;
		border-top: 250px solid transparent;
		border-bottom: 250px solid transparent;
	}
}

@media only screen and (min-device-width: 992px) and (max-device-width:
	1140px) {
	.sub-content {
		min-height: 620px;
	}
}

@media only screen and (max-width: 767px) {
	.price-sub-header {
		margin-bottom: 10px;
	}
	.head-img {
		width: 30px;
	}
	.padding-bottom {
		padding-bottom: 10px;
	}
}
/* Header */
select.input-sm {
	height: 25px;
}

.jstree-open > a.jstree-anchor {
	margin-left: -30px;
}
#price-main-content {
	clear: both;
}
#commodityInput {
	padding-right: 20px;
}
#commodityInputWrap {
	margin-bottom: 10px;
}
#subCommodityInput {
	padding-right: 20px;
}
#subCommodityInputWrap {
	padding-left: 0;
}
#vendorInput {
	padding: 0;
}
#vendorInputWrap {
	margin-bottom: 10px;
}
#pricing-strategy {
	margin : 1px; 
	padding: 0;
}
#wrap-11-input {
	padding: 0 5px;
}
#wrap-11-percent {
	width: 21px;
}
#12-label {
	padding: 0;
}
#wrap-12-2-input {
	padding: 0 5px;
}
#wrap-12-1-input {
	padding: 0 5px;
}
#wrap-13-input {
	margin-right: 0; 
	padding 	: 0 5px 0 16px;
}
#roundDown {
	margin: 10px 0;
}
#15-label {
	padding: 0;
}
#wrap-15-dollar {
	padding: 0; 
	width  : 15px; 
	margin : 9px 0;
}
#wrap-15-percent {
	margin: 9px;
}
#wrap-15-and {
	margin: 9px 0;
}
#wrap-15-2-input {
	padding: 0; 
	margin : 9px 0
}
#wrap-15-1-input {
	padding: 0; 
	margin : 9px 0
}
#16-label {
	padding: 0;
}
#wrap-16-dollar {
	padding: 0; 
	width  : 15px;  
	margin : 9px 0;
}
#wrap-16-or {
	margin: 9px 0;
}
#wrap-16-percent {
	margin: 9px;
}
#wrap-16-1-input {
	padding: 0; 
	margin : 9px 0
}
#wrap-16-2-input {
	padding: 0; 
	margin : 9px 0
}
.hiddenSpace {
	visibility: hidden; 
	display	  : block;
}
#17-label {
	padding: 0;
}
#pricing-save-btn {
	margin-top: 10px;
}
#vendorBasedPricingLabel {
	background-color 	   : #edf1f2; 
	font-size 			   : 14px; 
	padding 			   : 10px 15px; 
	margin-top 			   : 0; 
	color 				   : #22a1c8; 
	font-weight 		   : bold; 
	border-bottom 		   : 1px solid transparent; 
	border-top-right-radius: 3px; 
	border-top-left-radius : 3px;
}
#CompetitorPricingLabel {
	background-color	   : #edf1f2; 
	font-size 			   : 14px; 
	padding 			   : 10px 15px; 
	margin-top			   : 0; 
	color 				   : #22a1c8; 
	font-weight 		   : bold; 
	border-bottom 		   : 1px solid transparent; 
	border-top-right-radius: 3px; 
	border-top-left-radius : 3px;
}
#finishingRulesLabel {
	background-color 	   : #edf1f2; 
	font-size 			   : 14px; 
	padding 			   : 10px 15px; 
	margin-top 			   : 0; 
	color 				   : #22a1c8; 
	font-weight 		   : bold; 
	border-bottom		   : 1px solid transparent; 
	border-top-right-radius: 3px; 
	border-top-left-radius : 3px;
}
#boundaryRulesLabel {
	background-color	   : #edf1f2; 
	font-size 			   : 14px; 
	padding 			   : 10px 15px; 
	margin-top			   : 0; 
	color 				   : #22a1c8; 
	font-weight 		   : bold; 
	border-bottom 		   : 1px solid transparent; 
	border-top-right-radius: 3px; 
	border-top-left-radius : 3px;
}
