@CHARSET "ISO-8859-1";

.min-width-120 {
	min-width: 120px !important;
}

.min-width-100 {
	min-width: 100px !important;
}

.min-width-90 {
	min-width: 90px !important;
}

.min-width-80 {
	min-width: 80px !important;
}

.min-width-60 {
	min-width: 60px !important;
}

.padding-top10 {
	padding-top: 10px !important;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.text-right-align {
	text-align: right;
}

.no-horizontal-padding {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.no-vertical-padding {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.no-padding {
	padding :0px !important;	
}

.no-right-padding {
	padding-right: 0px !important;
}

.no-left-padding {
	padding-left: 0px !important;
}

.text-label {
	font-weight: normal;
	vertical-align: middle;
	text-align: left;
	padding: 10px 0px 0px 15px;
/* 	padding: top right bottom left; */
}

.row {
	width: 100%;
	margin: 0px 0px 15px 0px !important;
/* 	padding: top right bottom left; */
}

.form-vertilcal .form-group {
   margin: 0px 0px 15px 0px !important;
}

#invoice-info .text-label {
	padding: 10px 0px 0px 0px !important;
}

#confirm-cancel-dialog .modal-footer{
	border-top: none;
}

.common-table-style thead tr th {
	text-align: center;
}
.sub-table thead tr th {
	text-align: center;
}

#invoice-date {
	min-width: 90px !important;
}
#invoice-date-icon:hover, #dateBegin-icon-wp:hover, #dateEnd-icon-wp:hover {
	cursor: pointer;	
}


#invoice-detail-header {
	float: left;
	width: 100%;
	padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
}


#invoice-detail-header .text-bold {
	/*background-color: #f5f5f5;*/
    border-radius: 0;
    border-bottom: 1px solid #cfdadd;
    height: 30px;
    line-height: 30px;
    font-weight: bold !important;
    width: 100%;
    float: left;
	color: #428bca;
	font-size: 14px;
}

#invoice-detail-content {
	float: left;
	width: 100%;
	padding-left: 15px;
    padding-right: 15px;
}

#invoice-detail-footer {
	width: 100%;
	float: left;
	text-align: right;
	margin-top: 10px;
	padding-left: 15px;
    padding-right: 0px;
}

#search-order-dialog {
/* 	min-width: 780px !important; */
	background: transparent;
}

#search-order-dialog .modal-content {
	border-radius: 5px;
	border-color: #D8D8DA;
}

#search-order-dialog .modal-header {
    background-color: #F0F3F4;
    border-color: #D8D8DA;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#search-order-dialog .modal-title{
    font-weight: bold;
}

#search-order-dialog .modal-body .row {
	padding: 10px 0px 10px 0px;
}

#search-order-dialog .modal-body label {
	text-align: left;
	padding-top: 5px;
	font-weight: normal;
}

#search-order-dialog .modal-body .checkbox label {
	padding: 0px !important;
}

#invoice-amount-input-m {
	text-align: right;
	color: #016b1d;
	font-weight: bold;
/* 	min-width: 100px; */
}

.common-table-style tr.firs-tr {
	background-color: #d9edf7;
    border-top: 1px solid #bce8f1;
}

#search-order-dialog .checkbox input {
	cursor: pointer; 	
}

#order-wp #search-order-table_length label {
    float: right;
    margin-right: 20px;
    margin-top: -3px;
}

#search-order-modal .modal-body-search-heb-order {
    overflow: auto;
}

#invoice-detail-header {
	display: none;
}

#invoice-detail-footer {
	display: none;
}

#invoice-detail-content {
	display: none;
}

#invoice-info {
	width: 100%;
	float: left;
/* 	padding: 10px 0px 10px 0px !important; */
/* 	padding: top right bottom left; */
	margin-bottom: 15px;
}

#invoice-info label {
	text-align: left;
}

#invoice-amount {
	text-align: right;
}

#invoice-detail-dtb_info {
	padding-bottom: 10px;
}

td.details-control {
    background: url("../../image/datatable/plus.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    cursor: pointer;
}

.td-label {
	height: 30px;
	line-height: 30px; 
	vertical-align: middle;
	min-width: 100px;
	text-align: left;
	margin-right: 5px;
}

/* CSS For Datatable */
/* #invoice-detail-dtb thead { */
/* 	background-color: #d9edf7; */
/* } */

.datepicker {
	z-index: 1151 !important;
}

#search-order-table thead tr {
	font-weight: bold;
}

.common-table-style tr.firs-tr-sub {
	background-color: #CFEADB;
	border-top: 1px solid #bce8f1;
}

.common-table-style td {
	vertical-align: middle !important;
}

.checkbox-group {
	width: 5%;
}

#invoice-detail-dtb td input {
	height: 28px !important;
}

#search-order-table_info {
	clear: both;
	float: left;
}

#search-order-table_length > label {
	float: right;
	margin-top: 4px;
	margin-right: 20px;
	line-height: 41px;
}

.modal-body-search-heb-order {
	overflow: auto;
}

table#invoice-detail-dtb thead tr th {
	background-color: rgb(217, 237, 247);
	font-weight: bold;
}

table#invoice-detail-dtb thead tr th {
	vertical-align: middle;
	text-align: center;
}

#invoice-detail-dtb_wrapper {
	margin-bottom: 5px;
}

#invoice-detail-dtb_length > label {
	float: right;
	margin-right: 20px;
	line-height: 35px;
}


#invoice-detail-dtb_info{
	clear: both;
	float: left;
}
#vendor-name-label, #invoice-id-label{font-weight:bold;}
/* End CSS For Datatable */


#search-heb-header label{
	font-weight: normal;
	margin-top: 7px;
}
#header-info label{
	margin-top: 7px;
}
#invoice-amount-div{
	padding-right: 75px;
}
.add-more .form-control-feedback{
	top: 0px !important;
}
#add-padding{
	height: 10px;
}

#invoice-amount{
	padding-right: 23px;
}

#invoice-detail-dtb .input-group-addon-cell {
	line-height: 0.5 !important;
	height: 22px !important;
	background-color: #FFF;
	padding: 5px 1px !important;
	border: transparent;
	background-color: transparent;
}
.format-input-cell {
	padding: 0px !important;
	height: 22px !important;
	border-radius: 2px !important;
	width: 100% !important;
}
#message-err{
	display: none;
}
.has-success .form-control{
	border: 1px solid #ccc !important;
}
#invoice-detail-dtb .has-success .input-group-addon{
	/*color: #555!important;
	background-color: #eeeeee!important;
	border: 1px solid #ccc !important;*/
	line-height: 0.5 !important;
	height: 22px !important;
	background-color: #FFF;
	padding: 5px 1px !important;
	border: transparent !important;
	background-color: transparent !important;
	color: #555!important;
}
.has-success .form-control:focus{
	-webkit-box-shadow: #22a1c8 !important;
}

#invoice-manual-from .col-md-9{
	height: 40px;
}
#invoice-manual-from .has-success .input-group-addon{
	color: #555!important;
	background-color: #eeeeee!important;
	border: 1px solid #ccc !important;
}
#search-heb-order-btn{
	padding: 5px 10px !important;
}
#search-heb-header{
	margin: 0px 0px 5px 0px !important
}

#search-heb-header .col-md-3{
	height: 45px
}

.glyphicon-line-items-remove {
	color:#d9534f; 
	font-size:20px; 
	cursor: pointer;
}

/* .error-block{ */
/* 	visibility: hidden; */
/* 	color: #a94442; */
/* } */

.tooltip {
/* 	width: 100%; */
	position: fixed;
}

.tooltip.top .tooltip-arrow {
	border-top: 5px solid #EA5757;
	top: auto !important;
}

.tooltip.bottom .tooltip-arrow {
	border-bottom: 5px solid #EA5757;
	bottom: auto !important;
}

.tooltip.right .tooltip-arrow {
	border-right: 5px solid #EA5757;
	right: auto !important;
}

.tooltip.left .tooltip-arrow {
	border-left: 5px solid #EA5757;
	left: auto !important;
}

.tooltip-inner {
	padding: 3px 8px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-color: #EA5757;
	border-radius: 4px;
}