table.common-table-style thead tr th {
	vertical-align: middle;
	text-align: center;
}

#invoice-details-table_info {
	clear: both;
	float: left;
}

#invoice-details-table_length > label {
	float: right;
	margin-top: 4px;
	margin-right: 20px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

.common-table-style tr.first-tr {
	background-color: #d9edf7;
	border-top: 1px solid #bce8f1;
}

.common-table-style tr.first-tr-sub {
	background-color: #CFEADB;
	border-top: 1px solid #bce8f1;
}

table.common-table-style thead tr th {
	background-color: rgb(217, 237, 247);
	font-weight: bold;
}

table.dataTable thead > tr > th {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

table.common-table-style tbody tr td{
	vertical-align: middle;
}

table.common-table-style tbody tr td > input[type="text"] {
	width: 100%;
	padding: 0px !important;
/* 	font-size: 12px; */
	height: 25px;
}

.final-cost-group,
.final-qty-group {
	width: 90px !important;
}

.no-group {
	width: 20px !important;
}

.order-number-group {
	width: 100px !important;
}
.order-date-group{
	width: 80px !important;
}
.item-group{
	width: 135px !important;
}
.description-group{
	width: 125px !important;
}
.size-group{
	width: 50px !important;
}
.select-group{
	width: 40px !important;
}
.cost-group{
	width: 100px !important;
}
.qty-group{
	width: 80px !important;
}
.ext-cost-group{
	width: 200px !important;
}
.final-cost-group,
.final-qty-group{
	width: 100px !important;
}
.reason-group{
/* 	width: 100% !important; */
}

.total-mismatch-amount-label {
	color: red;
}

#invoice-number {
	color: red;
}

.modal-body-search-heb-order {
	/*overflow: auto;*/
}

.common-table-style {
	width:auto;
}

/*css modal*/

/* .dataTables_wrapper { */
/* 	width: auto !important; */
/* } */

#search-items-table {
/* 	width: inherit; */
}

table.common-table-style thead tr th{
	vertical-align: middle;
	text-align: center;
}

#search-order-table_info,
#search-items-table_info {
	clear: both;
	float: left;
}

#search-order-table_length > label,
#search-items-table_length > label {
	float: right;
	margin-top: 4px;
	margin-right: 20px;
}

.datepicker{
	z-index:1151 !important;
}

.select-item {
	cursor: pointer;
}

.common-table-style thead tr{
	font-weight: bold;
}

.searchclear {
    position: absolute;
    right: 19px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.ui-front {
	z-index: 9999;
}

#search-order-table .dataTables_info {
	clear: both;
	float: left;
}

#search-order-table .dataTables_length label{
	line-height: 33px;
	margin-right: 5px;
}

#search-order-table .dataTables_length {
	float: right;
}


/*modal-table*/
.radio-btn-group {
	width: 7%;
}

.item-upc-group {
	width: 20%;
}

.cost-group {
	width: 15%;
}

.size-group {
	width: 10%;
}

.qty-group {
	width: 15%;
}

.details-group {
	width: 7%;
}

.order-group,.date-group,.vendor-group {
	width: 20%;
}

.text-ellipsis {
	max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;

}
.cost-qty-input{
	padding: 0px !important;
	height: 22px !important;
	border-radius: 2px !important;
	width: 100% !important;
}
#message-err{
	display: none;
}

.input-group-addon-cell {
	line-height: 0.5 !important;
	height: 22px !important;
	background-color: #FFF;
	padding: 5px 1px !important;
	border: transparent;
	background-color: transparent;
}

.has-success .form-control{
	border: 1px solid #ccc !important;
}
.has-success .input-group-addon{

	line-height: 0.5 !important;
	height: 22px !important;
	background-color: #FFF;
	/*padding: 5px 1px !important;*/
	border: transparent !important;
	background-color: transparent !important;
	color: #555!important;
}
.form-control:focus{
	-webkit-box-shadow: #22a1c8 !important;
}

.table-bordered > thead > tr > th, 
.table-bordered > thead > tr > td {
	border-bottom-width: 0px;
}


#search-heb-header {
	margin: 10px 0px 5px 0px !important;
}

.row {
	width: 100%;
	margin: 0px 0px 15px 0px !important;
}
#search-heb-header label {
	font-weight: normal;
	margin-top: 7px;
}
.no-left-padding {
padding-left: 0px !important;
}

#order-date-begin-icon, #order-date-end-icon {
	cursor: pointer;
}
#matching-orders-lines-modal .modal-lg{
	width: 85%;
}

.common-table-style tr.second-tr {
	background-color: #d9edf7;
	border-top: 1px solid #bce8f1;
}

#matching-orders-table_info {
	clear: both;
	float: left;
}

#matching-orders-table_length > label {
	float: right;
	margin-top: 4px;
	margin-right: 20px;
}

#matching-orders-lines-modal .modal-content{
	padding-bottom: 15px;
}
.modal-body-search-heb-order{
	padding-top: 22px !important;
}