table#invoice-list-table thead tr th {
	vertical-align: middle;
	text-align: center;
}

#invoice-list-table_info {
	clear: both;
	float: left;
}

#invoice-list-table_length > label {
	float: right;
	margin-top: 4px;
	margin-right: 20px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

.common-table-style tr.firs-tr {
	background-color: #d9edf7;
	border-top: 1px solid #bce8f1;
}

table#invoice-list-table thead tr th {
	background-color: rgb(217, 237, 247);
	font-weight: bold;
}

#searchResult {
	background-color: #f5f5f5;
	border-top: 1px solid #cfdadd;
	margin-left: -10px;
	margin-right: -10px;
	padding: 5px 10px 5px 10px;
	line-height: 30px;
	border-radius: 0;
	margin-bottom: 5px;
}

.search-result-title{
	font-weight: bold;
	padding-left: 5px;
	line-height: 40px;
}

.search-result-export-excel{
	padding-top: 5px;
	padding-right: 5px;
}

@media screen and (max-width: 767px) {
	.table-responsive {
		border: none;
	}
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td{
	border-bottom-width: 0px;
}

#invoice-list-table {
/* 	width: auto !important; */
}

#dateBegin-icon-wp, #dateEnd-icon-wp, #approved-date-icon-wp {
	cursor: pointer;
}

#invoice-list-header .col-md-6.form-group{
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.has-success .form-control{
	border: 1px solid #ccc !important;
}
.has-success .input-group-addon{

	line-height: 0.5 !important;
	height: 22px !important;
	background-color: #FFF;
	/*padding: 5px 1px !important;*/
	border: transparent !important;
	background-color: transparent !important;
	color: #555!important;
}
.form-control:focus{
	-webkit-box-shadow: #22a1c8 !important;
}

.has-success .input-group-addon{
	color: #555!important;
	background-color: #eeeeee!important;
	border: 1px solid #ccc !important;
}

.add-label {
	font-weight: normal;
	line-height: 34px;
}
/*.tooltip-inner {
max-width: 200px;
padding: 3px 8px;
color: #fff;
text-align: center;
text-decoration: none;
background-color: #333;
border-radius: 4px;
opacity: 0.75;
border-color: #333;
}*/
/*.tooltip.fade.top.in{
	margin-top: -10px;
}
.tooltip.top .tooltip-arrow{
	border-top-color: #333;
	opacity: 0.75;
}*/