#searchResult {
	background-color: #f5f5f5;
	border-top: 1px solid #cfdadd;
	margin-left: -10px;
	margin-right: -10px;
	padding: 5px 10px 5px 10px;
	line-height: 30px;
	border-radius: 0;
}

.common-table-style tr.firs-tr {
	background-color: #d9edf7;
	border-top: 1px solid #bce8f1;
}
.common-table-style >thead>tr>th { 
	border-bottom: 1px solid #bce8f1 !important;
	text-align: center;
}

.common-table-style td,
.common-table-style th { 
	padding: 5px!important;
	vertical-align: middle !important;
}

.inputData input[type="text"] {
	width: 100%;
}

.inputData { background-color: #f0f3f7;}

.clearfix {
	clear: both;
}

/*table*/
.second-tr > th > input {
	width: 100% !important;
}

#new-and-changes-passed-table,
#new-and-changes-failed-table {
	width: auto !important;
}

#new-and-changes-passed-table_info,
#new-and-changes-failed-table_info{
	clear: both;
	float: left;
}

#new-and-changes-passed-table_length > label,
#new-and-changes-failed-table_length > label {
	float: right;
	margin-top: 4px;
	margin-right: 20px;
}

/* .no-group { */
/* 	width: 4%; */
/* } */
/* .upc-group { */
/* 	width: 10%; */
/* } */
/* .penny-profit-group { */
/* 	width: 8%; */
/* } */
/* .failed-reason-group { */
/* 	width: 10%; */
/* } */
/* .pre-price-group { */
/* 	width: 7%; */
/* } */

/* .size-group { */
/* 	width: 5%; */
/* } */

/* .map-group { */
/* 	width: 5%; */
/* } */

/* .image-group { */
/* 	width: 6%; */
/* } */

.firs-tr th {
	font-weight: bold;
}

@media (max-width: 767px) {
	.input-date-end { 
		margin-top: 20px;
	}
	#btnSearchPrd { 
		margin-bottom: 20px;
	}
	
	/*table*/
	#new-and-changes-passed-table_length .form-control,
	#new-and-changes-failed-table_length .form-control {
		 display: inline;
	}
	
	#new-and-changes-passed-table_paginate,
	#new-and-changes-failed-table_paginate {
		float: left;
		clear: both;
	}

	#new-and-changes-passed-table_length > label,
	#new-and-changes-failed-table_length > label {
		float: left;
		margin-top: 4px;
		margin-right: 20px;
	}
	
	.search-btn-wp{
		margin-bottom: 10px;
	}
	
	#marginEnd, .receive-date-bw-wp{
		margin-top: 10px;
	}

}

@media (min-width: 768px) and (max-width: 991px) {
	#marginEnd, .receive-date-bw-wp{
		margin-top: 10px;
	}
}

/*datatables*/
div.DTTT { 
	margin-bottom: 0.5em; 
	float: right;
/* 	margin-right: 10px;  */
}
div.dataTables_wrapper { clear: both; }

.accordion-toggle:before {
	font-family: FontAwesome;
	content: "\f103";
	color: #808080;
	font-family: FontAwesome;
    position: absolute;
    left: 5;
}

.accordion-toggle.collapsed:before {
/* 	font-family: FontAwesome; */
	content: "\f101";
	color: #808080;
	font-family: FontAwesome;
    position: absolute;
    left: 5;
}

.legend { 
	border-top: 1px solid #D3CCCC;
}
.legend .accordion-toggle {
	display: inline-block;
	position: relative;
	top: -10px;
	left: 10px;
	background-color: #FFF;
	padding: 0 5px;
	cursor: pointer;
/* 	font-weight: bold; */
}
.legend .accordion-toggle-bdm {
	display: inline-block;
	position: relative;
	top: -10px;
	left: 10px;
	background-color: #FFF;
	padding: 0 5px;
	cursor: pointer;
}

#searchResult.borderless {padding-top: 20px; border-top:none;}
#searchResult.borderless .legend .accordion-toggle {background-color: #F5F5F5;}

table {
    table-layout: fixed\9;
}

.text-ellipsis {
	max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;
}

.clear-filtter-style {
	color: red;
}

#approve-btn-failed, #approve-btn-passed {
/* 	margin-right: 10px !important; */
}
.visibility-class {
	visibility: hidden;
}

#fa-angle-double-down-style {
	width: 15px !important;
}
.style-panel-body {
	padding-top: 0px;
}

#dateBegin-icon-wp, #dateEnd-icon-wp {
	cursor: pointer;
}
#new-and-changes-passed-table_wrapper,
#new-and-changes-failed-table_wrapper {
	position: relative;
}
.filter-btn-style {
	background: #fff url(../../image/clear-filter.png) no-repeat center;
	height: 29px;
	width: 29px;
}
.info-style {
	cursor: help;
	color: #428bca;
}

/*tab style*/
#tabResult {
	background-color: #f5f5f5;
	margin-right: -10px;
	margin-left: -10px;
	position: relative;
}

#tabResult.without-panel {
	background-color: transparent;
	height: 20px;
}
#tabResult li a {
	color: #58666e;
}
#tabResult li.active a { font-weight: bold;}

.common-content-tab { 
	padding: 20px 0;
}
#tab-passed-title {
	border-left: 0px;
	border-radius: 0px 4px;
}

.popover-content {
	padding: 0px !important;
}
.popover {
	border-radius: 0px !important;
}

.input-group-addon-cell {
	line-height: 0.5 !important;
	height: 22px !important;
	background-color: #FFF;
	padding: 5px 1px !important;
	border: transparent;
	background-color: transparent;
}

.format-input-cell {
	padding: 0px !important;
	height: 22px !important;
	border-radius: 2px !important;
}

.bullet {
	background: transparent url("../../image/bullet2.png") no-repeat right top;
}

.label-info,
.label-danger,
.label-warning {
	font-size: 95% !important;
	font-weight: normal;
}
.label-info-input{
	background-color: #5bc0de;
	color: white;
}

.label-danger-input{
	background-color: #d9534f;
	color: white;
}