#dateBegin-icon-wp, #dateEnd-icon-wp, #approved-date-from-icon-wp, #approved-date-to-icon-wp, #payment-date-to-icon-wp, #payment-date-from-icon-wp{
	cursor: pointer;
}
#searchResult {
	background-color: #f5f5f5;
	border-top: 1px solid #cfdadd;
	margin-left: -10px;
	margin-right: -10px;
	padding: 4px;
	padding-bottom: 5px;
	border-radius: 0;
	max-height: 30px;
}
#tabResult {
	background-color: #f5f5f5;
	margin-right: -10px;
	margin-left: -10px;
	position: relative;
}

.common-content-tab {
	padding: 20px 0;
}

#not-match-invoice-table {
	/*width: auto !important;*/
	/*border-right: 0px;*/
}
.clearfix {
	clear: both;
}

.visibility-class {
	visibility: hidden;
}

#approve-btn-failed, #approve-btn-passed {
	margin-right: 10px !important;
}

#approve-btn-failed, #approve-btn-passed {
	margin-right: 10px !important;
}

.filter-btn-style {
	background: #fff url(../../image/clear-filter.png) no-repeat center;
	height: 29px;
	width: 29px;
}

.second-tr > th > input {
	width: 100% !important;
}

.common-table-style tr.firs-tr {
	background-color: #d9edf7;
	border-top: 1px solid #bce8f1;
	font-weight: bold;
}

.common-table-style >thead>tr>th {
	/*border-bottom: 1px solid #bce8f1 !important;*/
	text-align: center;
	border-bottom-width: 0px !important;
}
.common-table-style >thead .addon>th {
	border-bottom: 1px solid #bce8f1 !important;
	text-align: center;
}

/*end table */
#HEB-order-details-table_length, #order-details-table_length, #report-order-table_length, #report-result-table_length, #not-recieve-asn-table_length, #not-match-invoice-table_length > label {
	float: right;
	margin-top: 4px;
	margin-right: 20px;
}

#HEB-order-details-table_info, #order-details-table_info, #report-order-table_info, #report-result-table_info, #not-recieve-asn-table_info, #not-match-invoice-table_info {
	clear: both;
	float: left;
}
#report-order-table{
	width: 100% !important;
}

.text-ellipsis {
	max-width: 130px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 130px;
}

#report-order-export-btn.export-excel {
	margin-top: -13px;
}

.common-content-tab {
	padding: 20px 0;
}
.forID{
	color: yellow !important;
}

table#report-result-1-table .head-tr th {
	background-color: rgb(217, 237, 247);
	/*background-color: #22a1c8;*/
	font-weight: bold;
}

table#report-result-1-table .head-tr th {
	vertical-align: middle;
	text-align: center;
}
#invoice-list-header{
	margin-bottom: 20px;
}

.value-content{
	font-weight: bold !important;
}
.export{
	display: block;
	/*float: right !important;*/
	height: 38px;
	margin-right: 10px;
}
/* export bar */
.export-btn{
	background: url("../../image/export-icon.png") no-repeat scroll 0px 4px rgba(0, 0, 0, 0);
	cursor: pointer;
	display: block;
	float: right !important;
	height: 38px;
	/*margin-right: 10px;*/
	width: 38px;
}
/*#export-btn-excel{
	background: url("../../image/excel-icon.png") no-repeat scroll 0px 4px rgba(0, 0, 0, 0);
}
#export-btn-csv{
	background: url("../../image/csv-icon.png") no-repeat scroll 0px 4px rgba(0, 0, 0, 0);
}
#export-btn-pdf{
	background: url("../../image/pdf-icon.png") no-repeat scroll 0px 4px rgba(0, 0, 0, 0);
}
*/
.lbl-first{
	margin-left: 40%;
}
.add-bg{
	/*background-color: #f5f5f5;*/
	margin-right: -9px;
}
.add-bg .col-md-7{
	padding-right: 0px !important;
}
.add-bg .col-md-5{
	padding-left: 0px;
	border-bottom: 1px solid #cfdadd;
	padding-right: 0px;
	margin-right: 0px;
	background-color: #f5f5f5;
}
.add-bg .col-md-5 label{
	margin-top: 8px;
}
#searchResult label{
	margin-top: 5px;
}

.no-right-padding {
	padding-right: 0px !important;
}
.right-align{
	text-align: right;
}
.icon-pdf{
	position: relative;
	display: inline-block;
	background: url("../../image/pdf-icon.png") no-repeat;
	width: 25px;
	height: 25px;
	/*padding-left: 30px;*/
	cursor: pointer;
}
.icon-excel{
	position: relative;
	display: inline-block;
	background: url("../../image/excel-icon.png") no-repeat;
	width: 25px;
	height: 25px;
	/*padding-left: 30px;*/
	cursor: pointer;
}
.icon-print{
	position: relative;
	display: inline-block;
	background: url("../../image/print-icon.png") no-repeat;
	width: 24px;
	height: 35px;
	/*padding-left: 30px;*/
	cursor: pointer;
}

.center-align{
	text-align: center;
}

.left-align{
	text-align: left;
}
.no-left-padding{
	padding-left: 0px;
}
/*.report-info{
	width: 75%;
	margin: 0 auto;
}*/
#report-result-1-table, #report-result-2-table, #report-result-3-table{
	width: 100% !important;
}
.report-info h3{
	font-size: 20px !important;
	color: rgb(19, 149, 189);
}
.asn-date{
	display: none;
}
.add-info{
	font-weight: normal;
}

.report-info .table-responsive{
	/*overflow-x: scroll;*/
	/*overflow-x: auto !important;*/
	/*width: 100% !important;*/
	/*min-width: 200px;*/
}
div.dataTables_paginate {
	/*float: left !important;
	margin: 0 !important;
	margin-top: -164px !important;
	margin-left: 157px !important;*/
	display: none;
}

.pagination>li>a, .pagination>li>span{
	padding: 4px 5px !important;
}

.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li {
  display: inline;
}
.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 22px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}
.pagination a:hover,
.pagination .active a {
  background-color: #f5f5f5;
}
.pagination .active a {
  color: #999999;
  cursor: default;
}
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
  color: #999999;
  background-color: transparent;
  cursor: default;
}
.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}
.add-paging.pagination{
	margin: 0px !important;
	padding-left: 15px;
}
.vendor{
	color: #22a1c8;
	font-weight: bold;
}
.inv-row, .hidden-title {
	display: none;
}
#report-result-1-table tbody tr.details td{
	/*background-color: #22a1c8;*/
	background-color: #CFEADB;
	/*color: white;*/
	/*font-weight: bold;*/
	/*font-size: 14px;*/
}
#report-result-1-table tbody tr.details td .title-detail{
	font-weight: bold;
}
#report-result-1-table tbody tr td[colspan="16"]{
	padding: 0px !important;
}
.add-nestest {
	border: none !important;
}
#report-result-1-table thead tr th.add-width{
	width: 6.25% !important;
	padding: 10px !important;
	margin: 0px !important;
}
.add-nestest tbody tr td{
	width: 6.25% !important;
	padding: 10px !important;
	margin: 0px !important;
}
#report-result-1-table tbody tr.details td{
	border-right-width: 0px;
}
.add-nestest.table.dataTable{
	margin-top: 0px !important; 
 	margin-bottom: 0px !important; 
}
.row .col-xs-6{
	display: none !important;
}
#report-result-1-table .sorting_asc{
	background: none !important;
}