.ui-state-focus {margin: 0px !important;}
#user-table select{
	width: 90%;
}

#user-table_length > label {
	float: right;
	margin-top: -20px;
	margin-right: 20px;
}

#user-btns #add-user-btn, #user-btns #save-user-btn{
	margin-right: 15px;
	/*margin-bottom: 20px;*/
	margin-bottom: 10px;
	margin-top: 15px;
}
#user-btns{
	float: right;
}
#user-table{
	width: 98% !important;
	margin: 0px auto;
}
#user-table_info{
	padding-left: 15px !important;
}
.modal-footer{
	/*float: right;
	border-top: none;
	padding-left: 51%;*/
	margin-top:6px;
}

.modal-dialog
{
    max-width:800px;
}

#vendor-table_length > label {
	float: right;
	margin-top: -20px;
	margin-right: 20px;
}

#user-table label{
	font-weight: normal;
}

#user-table .btn-group{
	width: 90%;
}
#user-table .btn-group a{
	width: 100%;
	font-size: 12px;
}

#user-table .btn-group ul{
	width: 100%;
}
#user-table .btn-group a span.caret{
	float: right;
	margin-top: 8px;
}

#confirm-dialog .modal-dialog{
	width: 40% ;
}
/* #user-table span.action{
	display: none;
} */

#save-user-btn, #btn-save-change{
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}
#alert-dialog-label, #confirm-dialog-label{
	/*font-size: 20px;*/
	/*color: #22a1c8;*/
}
#alert-dialog .modal-body, #confirm-dialog .modal-body{
	font-size: 14px;
}
.highlight{
	/*background: #FFFF99 !important;*/
	background: #DFF0D8!important;
}
/*.alert { display: none;}*/
#vendor-modal .modal-header{
	background-color: #F0F3F4;
	border-color: #D8D8DA;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#vendor-modal .modal-content{
	border-radius: 5px !important;
	border-color: #D8D8DA;
}
#vendor-modal .modal-dialog{
	background: none;
}

.remove-vendor{
	float: right;
	color: #d9534f;
}
.showbgIcon{
	background: pink;
}
#confirm-dialog .modal-header{
	background-color: #F0F3F4;
	border-color: #D8D8DA;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#confirm-dialog .modal-content{
	border-radius: 5px !important;
	border-color: #D8D8DA;
}
#confirm-dialog .modal-dialog{
	background: none;
}
.user-id, .user-name, .user-access-type {width: 100%!important;}
.has-success .form-control {border: none!important;}
#user-table .btn-select{
	text-align: left;
}
.modal-title {
	font-weight: bold;
}
#vendor-search{
	display: inline-block;
	float: right;
	width: 60%;

}

#vendor-search label{
	margin-top: 4px;
	font-size: 14px;
}
#user-table_paginate{
	margin-right: 15px;
}

#yes-select{
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}
#vendor-search .col-md-10{
	padding-right: 0px;
	padding-left: 0px;
}

#vendor-modal .modal-dialog{
	/*width: 60%;*/
	/*margin: 30px auto;*/
}
div.dataTables_paginate ul.pagination{
	margin-top: -20px !important;
}
#hidden-user{
	display: none;
}
.titleAdd{
	width: 50%;
}
.userIcon{
	width: auto;
	float: right;
	margin-top: -23px;
	text-align: right;
	text-align: right;
}

#user-table_wrapper{
	margin-top: 20px;
}
#vendor-modal .form-control-feedback{
	top: 0px !important;
	font-size: 23px;
}
.userIcon button{
	padding: 4px 8px;
	border: none;
}

#add-user-icon{
	/*background: #D4D8D1;*/
	background: white;
	color: #22a1c8;
}
#save-user-icon{
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

/*.remove-vendor{
	width: 20px;
	height: 20px;
	background: url(../../image/close.png) no-repeat 0 0;
}*/
.vendor-item .text-ellipsis {
	max-width: 300px !important;
	float: left;
	width: 90% !important;
}
.del-icon{
	float: right;
}
.vendor-item a {
	padding-right: 4px !important;
	display: inline-block !important;
}

.common-table-style-add tr.firs-tr {
	background-color: #d9edf7;
	border-top: 1px solid #bce8f1;
}
.common-table-style-add th{
	text-align: center;
}
/*.ver-scroll{
	overflow: auto;
}*/
@-moz-document url-prefix() {
    #user-table .btn-group a span.caret {
	float: right;
	margin-top: -8px; 
	}
}
#frm-user-management .form-group{margin: 0px auto!important; width: 100%;}
#message-err {display: none;}