fieldset.scheduler-border {
	border-top-width: 1px !important;
	border-style: solid !important;
	border-color: #C1C1C1 !important;
}
legend.scheduler-border {
	width: inherit;
	border-bottom: none;
	padding-right: 10px;
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 0px;
	margin-left: 0px !important;
/* 	font-size: 12px; */
	line-height: inherit;
	font-weight: bold;
	color: #333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

label {
	display: inline-block;
	font-weight: normal;
/* 	font-size: 12px; */
	height: 35px;
}

label.col-sm-2 {
	text-align: right;
}

legend {
	margin-left: 5px;
	margin-right: 5px;
	padding: 0;
	border: 0;
}

.form-control {
	border-radius: 0px;
}

.btn {
	border-radius: 0px;
	margin-left: 10px;
/* 	margin-top: 5px; */
}

button.selectpicker {
	height: 30px !important;
/* 	font-size: 12px !important; */
	min-width: 200px;
}

.bootstrap-select {
	padding: 0px !important;
}

.input-md {
	height: 30px;
	padding: 4px 10px;
	font-size: 13px;
	line-height: 1.5;
}

select.input-md {
	height: 30px;
	line-height: 30px;
}

.alert {
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 3px;
	margin-bottom: 0px;
	margin-top: 15px;
	float: left;
	width: 100%;
}

.panel-heading {
	font-weight: bold;
}

.orders-table .glyphicon {
	font-size: 19px;
}

.modal-header .close {
	font-size: 30px;
}

.radio-inline {
	line-height: 23px;
}

.input-group-addon {
	border-radius: 0px !important;
}

.input-sm {
/* 	font-size: 12px; */
}

/*search*/
.header-search .has-feedback .form-control-feedback {
    height: 25px;
    line-height: 25px;
    top: 0;
}
.header-search-input > span {
    color: #a1a7ba;
    height: 30px;
    line-height: 30px;
    top: 0 !important;
}
.header-search-input > span {
    cursor: pointer;
}

.reset-padding {
	padding: 0px;
}
