.fedex-info-div {
	margin-bottom: 5px !important;
}

.label-spec-div {
	margin-top: 5px;
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 0px;
}

.btn-div {
	padding: 0px !important;
	margin-top: 15px;
	float: left;
}

.fieldset-padding {
	padding-top: 7px;
}

.itemLabel {
	background-color: #EFF6FC;
	height: 100px;
	width: 100%;
	padding: 5px 5px 5px 5px;
	margin-top: 5px;
	margin-right: 20px;
	border: 1px solid #D0E0ED;
}

.itemLabel:hover {
	background-color: #D0E0ED;
	border: 1px solid #8FAABF;
	cursor: pointer;
}

.itemLabel .rightContent {
	width: 50%;
	float: left;
	text-align: right;
}

.itemLabel .leftContent {
	width: 50%;
	float: left;
	text-align: left;
}

.itemLabel div {
	color: #003F72;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
}

.no-padding-left {
	padding-left: 0px !important;
}

.no-padding-right {
	padding-right: 0px !important;
}

.no-padding-top {
	padding-top: 0px !important;
}

.no-padding-bottom {
	padding-bottom: 0px !important;
}

.no-padding {
	padding: 0px !important;
}

.no-vertical-padding {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.no-horizontal-padding {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

textarea {
	resize: vertical;
}

.print-radio-div {
/* 	font-size: 12px; */
	line-height: 30px;
}
/* .print-radio-div .btn-group input, .print-radio-div .btn-group label{ */
/* 	cursor: pointer; */
/* } */

.tab-header-text {
	font-weight: bold;
}

.tab-row-fluid {
	border: 1px solid #DDDDDD;
	padding-right: 10px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: none;
	float: left;
	width: 100%;
/* 	min-height: 350px; */
}

.tab-btn {
	float: right !important;
}

input[type=radio], input.radio {
	margin: 5px 0 0 5px;
}

input.print-form-input {
	min-width: 200px;
}

label.print-form-label {
	min-width: 150px;
/* 	line-height: 30px; */
}

.header-primary {
	background-color: #428bca;
	color: #fff;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.header-warning {
	background-color: #f0ad4e;
	color: #fff;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.header-default {
	background-color: #f5f5f5;
	color: #333;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.primary-color {
	color: #428bca;
}

.success-color {
	color: #5cb85c;
}

.error-color {
	color: #d9534f;
}

.badge-primary {
	background-color: #428bca;
}

.badge-success {
	background-color: #5cb85c;
}

.badge-error {
	background-color: #d9534f;
}

.no-background-image {
	background-image: none;
}

.orders-table {
	margin-bottom: 0px;
}
.orders-table .ord-id {
	font-size: 14px;
	line-height: 22px;
}

.ord-rs-tbody {
	display: block;
}

.ord-rs-thead {
	display: block;
}

.ord-rs-th {
	width: 135px !important;
	border-bottom: 2px solid #ddd;
}

.ord-rs-td {
	width: 135px !important;
	border-top: none !important;
	border-bottom: 1px solid #ddd;
}

#table-result-content {
	max-height: 300px;
	overflow-y: auto;
	width: auto;
}

.ord-rs-tr-success:hover {
	background-color: #F8FFF2 !important;
}

.ord-rs-tr-error:hover {
	background-color: #FFF2F2 !important;
}

.tooltip.top .tooltip-arrow {
	border-top: 5px solid #EA5757;
}

.tooltip-inner {
	padding: 3px 8px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-color: #EA5757;
	border-radius: 4px;
}

.tooltip.left .tooltip-arrow {
	top:50%;
    right:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #EA5757
}

/*@Author : DuyenLe*/
.modal-dialog-setting {
    width: 700px;
    margin: 30px auto;
}
.modal.in .modal-dialog-setting {
    transform: translate(0px, 0px);
    transition: transform 0.3s ease-out 0s;
}
.lb {
    padding: 0;
}
.modal-footer{
    margin-top: 0;
}
.selectCustom{
    min-width: 189px;
    min-width: 163px\0/;
}
.selectCustom button{
    min-width: 189px;
    min-width: 163px\0/;  
}
.session {
    padding-top: 10px;
}
@media (min-width: 100px){
    .alignSelectLeft{
        padding-left: 15px!important;
    }
}
@media (min-width: 992px){
    .alignSelectLeft{
        padding-left: 0!important;
    }
}

#addMessage{
	font-size: 1.6em;
}

.col-popup-result-contact {
	height: 20px;
	padding-left: 18px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

/*search*/
.header-search {
    background-color: #5c7399;
    height: 41px;
    margin-bottom: 5px;
    padding: 0;
}
.header-search-label {
    background-color: #5c7399;
    height: 41px;
    position: relative;
    width: 35px;
}
.header-search-icon-left {
    background-color: #2f385a;
    width: 31px;
}
.header-search-icon-left > i {
    color: #ffffff;
    left: 11px;
    position: absolute;
    top: 14px;
}
.header-search-input {
    margin: 6px;
}
#header-search-input {
    padding-right: 26px;
}
.header-search-input > input {
    border-left: 3px solid #a1a7ba;
}
/* #modalSetting label { */
/*     line-height: 25px; */
/* } */

input.print-form-input::-ms-clear {
    display: none;
}
.modal-dialog-custom-DeniedUserRole{
    width: 400px;
    margin: 30px auto;
}
#btnSetting {
    float: right;
    margin: 5px;
    height: 31px;
}
#cart {
	max-width: 1024px;
}