.margin-left10 {
	margin-left: 10px;
}

#searchResult {
	background-color: #f5f5f5;
	border-top: 1px solid #cfdadd;
	margin-left: -10px;
	margin-right: -10px;
	padding: 10px;
	padding-bottom: 5px;
/* 	padding-top: 5px; */
	border-radius: 0;
}

#tabResult {
	background-color: #f5f5f5;
	margin-right: -10px;
	margin-left: -10px;
	position: relative;
}

#tabResult.without-panel {
	background-color: transparent;
	height: 20px;
}
#tabResult li a {
	color: #58666e;
}
#tabResult li.active a { font-weight: bold;}

.common-content-tab { 
	padding: 20px 0;
}

#btnSearchPrd {
	background: url(../../image/btn-search.png) no-repeat;
	height: 30px;
	width: 107px;
	border: none;
}

.common-table-style tr.firs-tr {
	background-color: #d9edf7;
	border-top: 1px solid #bce8f1;
}
.common-table-style >thead>tr>th { 
	border-bottom: 1px solid #bce8f1 !important;
	text-align: center;
}

.common-table-style td,
.common-table-style th { 
	padding: 5px!important;
	vertical-align: middle !important;
}

.inputData input[type="text"] {
	width: 100%;
}

.inputData { background-color: #f0f3f7;}

.clearfix {
	clear: both;
}

/*table*/
.second-tr > th > input, .second-tr > th > select {
	width: 100% !important;
	height: 25px;
}
table.dataTable thead th:first-child.sorting_asc{
	background: none !important;
}
#passed-table, #all-table, #rejected-table , #failed-table{
	width: auto !important;
	border-right: 0px;
}
table.dataTable thead  th.comfirm-filter.disabled {
	background-image: none !important;
}


#all-table_info,
#passed-table_info,
#failed-table_info,
#rejected-table_info{
	clear: both;
	float: left;
}

#all-table_length > label,
#passed-table_length > label,
#failed-table_length > label,
#rejected-table_length > label {
	float: right;
	margin-top: 4px;
	margin-right: 20px;
}
.upc-group {
	width: 5%;
}
.failed-reason-group {
	width: 7%;
}
.pre-price-group {
	width: 4%;
}

.size-group {
	width: 5%;
}

.map-group {
	width: 5%;
}
/*.status-group {
	width: 7%;
}*/

.firs-tr th {
	font-weight: bold;
}
.search-btn-wp{
		margin-bottom: 10px;
}

@media (max-width: 767px) {
	.input-date-end { 
		margin-top: 20px;
	}
	#btnSearchPrd { 
		margin-bottom: 20px;
	}
	
	/*table*/
	#all-table_length .form-control,
	#passed-table_length .form-control,
	#failed-table_length .form-control,
	#rejected-table_length .form-control {
		 display: inline;
	}
	#all-table_paginate,
	#passed-table_paginate,
	#failed-table_paginate,
	#reject-table_paginate {
		float: left;
		clear: both;
	}

	#all-table_length > label,
	#passed-table_length > label,
	#failed-table_length > label,
	#reject-table_length > label {
		float: left;
		margin-top: 4px;
		margin-right: 20px;
	}
	
	
	#marginEnd, .receive-date-bw-wp{
		margin-top: 10px;
	}

}
.wp-table-2 {
	overflow: auto;
	margin-bottom: 10px;
}

.wp-table-3 {
	min-width: 1300px !important;
}

@media (min-width: 768px) and (max-width: 991px) {
	#marginEnd, .receive-date-bw-wp{
		margin-top: 10px;
	}
}

/*tab*/
.badge-passed-style {
/* 	background-color: #06AFFF; */
	margin-left: 2px;
}

.badge-failed-style {
/* 	background-color: #D9534F; */
	margin-left: 2px;
}

.badge-rejected-style {
/* 	background-color: #06AFFF; */
	margin-left: 2px;
}

#tab-passed-title {
	border-left: 0px;
	border-radius: 0px 4px;
}


/*datatables*/
div.DTTT { 
	margin-bottom: 0.5em; 
	float: right;
/* 	margin-right: 10px;  */
}
div.dataTables_wrapper { clear: both; }

/* panel collapse */
/* .accordion-toggle:before { */
/* 	font-family: FontAwesome; */
/* 	content: "\f0d7"; */
/* 	color: #808080; */
/* } */

.accordion-toggle:before {
	font-family: FontAwesome;
	content: "\f103";
	color: #808080;
	font-family: FontAwesome;
    position: absolute;
    left: 5;
}

.accordion-toggle.collapsed:before {
/* 	font-family: FontAwesome; */
	content: "\f101";
	color: #808080;
	font-family: FontAwesome;
    position: absolute;
    left: 5;
}

.legend { 
	border-top: 1px solid #D3CCCC;
}
.legend .accordion-toggle {
	display: inline-block;
	position: relative;
	top: -10px;
	left: 10px;
	background-color: #FFF;
	padding: 0 5px;
	cursor: pointer;
/* 	font-weight: bold; */
}
.legend .accordion-toggle-bdm {
	display: inline-block;
	position: relative;
	top: -10px;
	left: 10px;
	background-color: #FFF;
	padding: 0 5px;
	cursor: pointer;
}

#searchResult.borderless {padding-top: 20px; border-top:none;}
#searchResult.borderless .legend .accordion-toggle {background-color: #F5F5F5;}

table {
    table-layout: fixed\9;
}

.text-ellipsis {
	max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;
}

.clear-filtter-style {
	color: red;
}

.visibility-class {
	visibility: hidden;
}

#fa-angle-double-down-style {
	width: 15px !important;
}
.style-panel-body {
	padding-top: 0px;
}

#dateBegin-icon-wp, #dateEnd-icon-wp {
	cursor: pointer;
}
#passed-table_wrapper {
	position: relative;
}
.filter-btn-style {
	background: #fff url(../../image/clear-filter.png) no-repeat center;
	height: 29px;
	width: 29px;
}
#alert-bdm ,#alert-bdm-form {
	padding: 0;
}

#reset-new-product-btn, #search-new-product-btn {
	border-radius: 3px;
}

.format-input-cell {
	width: 100% !important;
}
.change-background {
	background-color: #f0ad4e !important;
}

#all-table>tbody>tr.rejected>td {
	background-color: #CCCCCC !important;
}
#all-table>tbody>tr.rejected:hover>td {
	background-color: #C8C8C8 !important;
}
.bdm-form-style .form-group label { 
	font-weight: normal;
	padding-top: 5px !important;
}

.bdm-form-style .form-group { 
	/*margin-bottom: 2px;*/
}

/*#all-table>tbody>tr.failed>td {
	background-color: #808080 !important;
	color: #ffffff;
}
#all-table>tbody>tr.failed:hover>td {
	background-color: #C8C8C8 !important;
}
#all-table>tbody>tr.passed>td {
	background-color: #0000FF !important;
	color: #ffffff;
}
#all-table>tbody>tr.passed:hover>td {
	background-color: #00CCFF !important;
}*/
.icon-calendar, #from-date-modal-icon-wp, #to-date-modal-icon-wp {
	cursor: pointer;
}
/*.icon-calendar .from-date-val ,.icon-calendar .to-date-val {
	display: none !important;
	visibility: visible;
}*/
#datefilterModal .modal-dialog {
	max-width: 300px;
}
#datefilterModal .modal-header{
	height: 40px;
}
#datefilterModal .modal-footer{
/*	padding-top: 5px;*/
	/*height: 45px;*/
}
#datefilterModal hr {
	padding-left: 15px;
	border-top: 1px solid #544F4F;
}

#failed-input , #vendor-input{
	height: 25px;
}
div.datepicker-dropdown {
	z-index: 9999 !important;
}
/*.tab-pane {
	min-width: 1300px;
}*/
.disable-class {
	opacity : .65;
	cursor: not-allowed;
}

.input-check-box {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -3px;
    *overflow: hidden;
}
.negative-number {
	text-align: right;
}
.input-group-addon-cell {
	line-height: 0.5 !important;
	height: 22px !important;
	background-color: #FFF;
	padding: 5px 1px !important;
	border: transparent;
	background-color: transparent;
	color: #555 !important;
}

.format-input-cell {
	padding: 0px !important;
	height: 22px !important;
	border-radius: 2px !important;
}

div.tooltip{
	z-index: 9999px !important;
	min-width: 110px;
}

.display-none {
	display: none;;
}