.parent-check {	
	
}
.parent-label {
	border-bottom: 1px solid #EBE9E9;
	width: 100%;
	padding-left: 35px !important;
	padding-bottom: 20px;
	padding-top: 10px;
}
.sub-check { 
	padding-left: 0;
	margin-top: 0;
}

.sub-check li {
	padding: 10px 0 10px 0;
	border-bottom: 1px solid #EBE9E9;
}
.sub-check li:last-child { 
	border: none;
}
.sub-check li label { 
	margin-left: 30px;
}

#formHie h5 {
	font-size: 14px;
	text-decoration: underline;
}

.overflow-panel-body-commodity{
	margin-bottom: 0px;
/* 	overflow: auto; */
/* 	min-height: 300px; */
}
.panel-body-commodity {
	min-height: 400px;
	height: 628px;
	overflow-y: auto; 
}
.panel-heading-style {
	color: #22a1c8 !important;
	padding-bottom: 7px;
	padding-top: 7px;
}
.style-save-assortment {
	border-top: 1px solid #d3d3d3;
}
#assortment-save-btn {
	margin-top: 10px;
}

#vendorRules {
	cursor: pointer;
}