@CHARSET "ISO-8859-1";
a {
	cursor: pointer;
}
.tab-content {
	background-color: #fff;
}
.tabs-style {
	margin-top: 30px;
	border: 1px solid #D3D3D3;
	padding: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
}
.input-group-addon {
	cursor: pointer;
	padding: 3px 12px !important;
}
.down-up-style {
	margin-bottom: 15px;
	margin-top: 15px;
}
.icon-down-up-style {
	color: #22A1CB;
	margin-right: 2px;
}

/*OVERRIDE TABLE*/
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
/* 	background-color: #F0F3F7; */
}

/*PANEL*/
.panel-primary {
	border-color: #22a1c8;
}

.style-add-new-row {
	margin-bottom: 10px;
}

/*TABS*/
.style-nav-tabs {
	background-color: #EDF1F2;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	border-left: 0px;
	border-radius:0px;
}

/*TABLE*/
.fa-plus-square {
	color: #3276b1;
	cursor: pointer;
}

.add-subCommodity {
	vertical-align: middle !important;
}

.delete-cls {
	color: #d9534f;
}

.tooltip {
	z-index: 1050;
}


/*MODAL*/
#subCommodityModal .modal-body {
	min-height: 450px;
	background-color: #F0F3F7;
	overflow-y: auto;
	max-height: 450px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
.modal-header-custom {
	background-color: #22A1C8;
	border-color: #22A1C8;
	border: 1px solid #22A1C8;
	box-shadow: none;
	position: relative;
	padding-bottom: 0px;
}
.modal-title-custom {
	color: white;
	font-weight: bold;
	margin-bottom: 5px;
}
.modal-footer-custom {
	margin-top: 0px;
}
.style-button-close {
	color: white;
	position: absolute;
	top: 5px;
	right: 5px;
}
.btn-ok-modal {
	margin-left: 2px !important;
	border-radius: 3px;
}
div#comfirm-modal button {
	width: 70px;
}

#subCommodityModal .blockOverlay {
	opacity: 0 !important;
}

/*TREE*/
.jstree-anchor{
	/*width: 350px;*/
}

table#vendor-hierarchy-mapping-table tbody tr {
	height: 36px !important;
}

table#vendor-hierarchy-mapping-table tbody tr td {
	vertical-align: middle !important;
}
#vendorBufferDiv {
	border-bottom: 1px solid #CCCCCC;
	margin: 12px 0 0 0;
}
.option-left .ibutton-handle-checkmark { 
	background: transparent url(../../image/circle_checkmark.png) no-repeat center;
	padding-left: 0;
	margin-left: 3px;
}
.ibutton-handle-checkmark {
  display: block;
  height: 25px;
  cursor: inherit;
  position: absolute;
  top: 0;
  left: 46px;
  background: transparent url(../../image/circle_checkmark.png) no-repeat;  
  z-index: 3;
  padding-left: 3px;
	/* set default width based on ON/OFF labels */
	width: 25px;
}
.ibutton-container-checkmark {
  position: relative;
  height: 27px;
  cursor: pointer;
  overflow: hidden;
	/* set max width to that of sprite */
	max-width: 400px;
	/* prevent text selection */
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-moz-user-focus: ignore; 
	-moz-user-input: disabled;
	/* set default width based on ON/OFF labels */
	width: 62px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #c2d4d9;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#c2d4d9), to(#c2d4d9));
	background: -webkit-linear-gradient(#c2d4d9, #c2d4d9);
	background: -moz-linear-gradient(#c2d4d9, #c2d4d9);
	background: -ms-linear-gradient(#c2d4d9, #c2d4d9);
	background: -o-linear-gradient(#c2d4d9, #c2d4d9);
	background: linear-gradient(#c2d4d9, #c2d4d9);
	-pie-background: linear-gradient(#c2d4d9, #c2d4d9);
	behavior: url(../image/PIE.htc);
}
.contentColRight-panel {
	box-shadow: none;
}
#contentColLeft, #contentColRight {
	margin-top: 5px;
}
.jstree-scoll {
	overflow-y: scroll;
	height: 500px;
}
@CHARSET "ISO-8859-1";
a {
	cursor: pointer;
}
.tabs-style {
	margin-top: 30px;
	border: 1px solid #D3D3D3;
	padding: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
}
.input-group-addon {
	cursor: pointer;
	padding: 3px 12px !important;
}
.down-up-style {
	margin-bottom: 15px;
	margin-top: 15px;
}
.icon-down-up-style {
	color: #22A1CB;
	margin-right: 2px;
}

/*OVERRIDE TABLE*/
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
/* 	background-color: #F0F3F7; */
}

/*PANEL*/
.panel-primary {
	border-color: #22a1c8;
}

.style-add-new-row {
	margin-bottom: 10px;
}

/*TABS*/
.style-nav-tabs {
	background-color: #EDF1F2;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	border-left: 0px;
	border-radius:0px;
}

/*TABLE*/
.fa-plus-square {
	color: #3276b1;
	cursor: pointer;
}

.add-subCommodity {
	vertical-align: middle !important;
}

.delete-cls {
	color: #d9534f;
}

.tooltip {
	z-index: 1050;
}


/*MODAL*/
#subCommodityModal .modal-body {
	min-height: 450px;
	background-color: #F0F3F7;
	overflow-y: auto;
	max-height: 400px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
.modal-header-custom {
	background-color: #22A1C8;
	border-color: #22A1C8;
	border: 1px solid #22A1C8;
	box-shadow: none;
	position: relative;
	padding-bottom: 0px;
}
.modal-title-custom {
	color: white;
	font-weight: bold;
	margin-bottom: 5px;
}
.modal-footer {
	margin-top: 0px;
}
.style-button-close {
	color: white;
	position: absolute;
	top: 5px;
	right: 5px;
}
.btn-ok-modal {
	margin-left: 2px !important;
	border-radius: 3px;
}
div#comfirm-modal button {
	width: 70px;
}

/*TREE*/
.jstree-anchor{
	/*width: 350px;*/
}

table#vendor-hierarchy-mapping-table tbody tr {
	height: 36px !important;
}

table#vendor-hierarchy-mapping-table tbody tr td {
	vertical-align: middle !important;
}
#vendorBufferDiv {
	border-bottom: 1px solid #CCCCCC;
	margin: 12px 0 0 0;
}
.option-left .ibutton-handle-checkmark { 
	background: transparent url(../../image/circle_checkmark.png) no-repeat center;
	padding-left: 0;
	margin-left: 3px;
}
.ibutton-handle-checkmark {
  display: block;
  height: 25px;
  cursor: inherit;
  position: absolute;
  top: 0;
  left: 46px;
  background: transparent url(../../image/circle_checkmark.png) no-repeat;  
  z-index: 3;
  padding-left: 3px;
	/* set default width based on ON/OFF labels */
	width: 25px;
}
.ibutton-container-checkmark {
  position: relative;
  height: 27px;
  cursor: pointer;
  overflow: hidden;
	/* set max width to that of sprite */
	max-width: 400px;
	/* prevent text selection */
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-moz-user-focus: ignore; 
	-moz-user-input: disabled;
	/* set default width based on ON/OFF labels */
	width: 62px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #c2d4d9;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#c2d4d9), to(#c2d4d9));
	background: -webkit-linear-gradient(#c2d4d9, #c2d4d9);
	background: -moz-linear-gradient(#c2d4d9, #c2d4d9);
	background: -ms-linear-gradient(#c2d4d9, #c2d4d9);
	background: -o-linear-gradient(#c2d4d9, #c2d4d9);
	background: linear-gradient(#c2d4d9, #c2d4d9);
	-pie-background: linear-gradient(#c2d4d9, #c2d4d9);
	behavior: url(../image/PIE.htc);
}
.contentColRight-panel {
	box-shadow: none;
}
#contentColLeft, #contentColRight {
	margin-top: 5px;
}
.jstree-scoll {
	overflow-y: scroll;
	height: 500px;
}
.modal-body {
	padding-bottom: 0px !important; 
}

#vendor-search-txt {
	padding-right: 25px;
}

.bootbox-confirm .modal-body {
	margin-bottom: 10px;
}
.markMapped {
	font-weight: bold !important;
	color: #22a1c8 !important;
}
.VendorIsClicked{
	background-color: #beebff !important;
}
.userAndTimeUpdateStyle {	
	color: #000000;
}
.userAndTimeUpdateStyleDiv {	
	color: #58666e;
	text-align: right;
}
.text-ellipsis {
	max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90px;
    text-align: left;
}
.tab-content {
	overflow: auto;
}
.text-ellipsis-Rule {
  max-width: 270px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 130px;
}
.panel-bottom {
	padding: 15px 0 15px 0 !important;
	border-top: 1px solid #dddddd !important;
}
.jstree-default .jstree-anchor {
	margin-left:-40px !important;
}