#formVendorRules h5{
	font-size: 14px;
	color: #22a1c8;	
	font-weight: bold;
	margin-top: 30px;
}
#vendor-rules{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#formVendorRules.form-horizontal .form-group{
	margin-right: 0px !important;
	margin-left: 0px !important;
}
#titlePls{
	padding-left: 0px !important;
}

#formVendorRules .form-group {
margin-bottom: 5px;
}

#formVendorRules .option-left {
	margin-bottom: 10px;
}
#formVendorRules .text-left {
	text-align: left!important;
	font-size: 12px !important;
	font-weight: normal;
}

#formVendorRules .option-left .ibutton-container {
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}

#formVendorRules .select-option .ibutton-container {
	background: url(../image/ibutton-slider-default.png) no-repeat;
	width: 70px !important;
	border-radius: 0;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#rules-result{
	display: none;
	margin-top: 45px;
}

.margin-top30{
	margin-top: 30px;
}
.padding-top{
	padding-top: 5px;
}

#vendor-name { font-weight: bold;}
#formVendorRules #cogs .margin-top10 { text-align: right; }
/* .alert { display: none;} */
.alert .glyphicon {padding-right: 5px;}
.style-save-btn {padding-right: 0; margin-top: 20px; padding-top: 10px;}
#vendor-rules .text-dollar { text-align: right; }
#vendor-rules .margin-top10 { padding-right: 0; padding-left: 0;}
#vendor-rules .margin-top10 label.style-header {font-size: 14px;}
.btn .glyphicon { padding-right: 3px; }
.bv-form #rules-result .help-block {padding-left: 58px;}
/* .bv-form .vendor-search .help-block {padding-left: 81px;} */
#vendor-radio .form-group { margin-left: 0 }
.form-horizontal .vendor-search.has-feedback .form-control-feedback { right: 34px; top: -2px; }
/* .form-horizontal .vendor-search .has-feedback .form-control-feedback { right: 39px; top: -2px;} */
.form-horizontal .has-feedback .form-control {padding-right: 5px;}
#rules-result .form-group > div { padding-left: 0;}





@media (min-width: 320px ) and ( max-width: 479px) {
  .bv-form #rules-result .help-block {padding-left: 15px;}
}
@media (min-width: 480px ) and ( max-width: 639px) {
  .bv-form #rules-result .help-block {padding-left: 78px;}
}
@media (min-width: 640px ) and ( max-width: 767px) {
  .bv-form #rules-result .help-block {padding-left: 170px;}
}
@media (min-width: 768px ) and ( max-width: 799px) {
  .bv-form #rules-result .help-block {padding-left: 0px;}
}
@media (min-width: 800px ) and ( max-width: 979px) {
  .bv-form #rules-result .help-block {padding-left: 7px;}
}
@media (min-width: 980px ) and ( max-width: 1023px) {
  .bv-form #rules-result .help-block {padding-left: 12px;}
}
@media (min-width: 1048px) {
  #vendor-rules { width: 980px; margin: 20px auto; }
  .bv-form #rules-result .help-block {padding-left: 31px;}
/*   #message {width: 980px; margin-left: auto; margin-right: auto} */
}
@media (max-width: 750px) {
	.bv-form .vendor-search .help-block { padding-left: 0;}
}

.has-success .form-control{
	border: 1px solid #ccc !important;
}
#vendor-rules .has-success .input-group-addon{
	color: #555!important;
	background-color: #eeeeee!important;
	border: 1px solid #ccc !important;
	background-color: #FFF;
}
.has-success .form-control:focus{
	-webkit-box-shadow: #22a1c8 !important;
}
.help-block {float: right !important;}
/* for auto complete */
.input-group #vendor-input.form-control{
	position: initial;
}
.vendor-search.form-group {margin-right: 0; margin-left: 0;}
.vendor-search .inputGroupContainer .input-group {
	width: 100%;
}
.vendor-search #vendor-input {
	border-radius: 3px;
}
.vendor-attrs .btn:focus, vendor-attrs .btn:active {outline:0;}
.tolerance-label { margin-top: 7px; text-align: right; padding-right: 5px;}